node-red/single_flows/central_system_nodes.txt
[{"id":"1b0ecccb.cbecb3","type":"function","z":"239b551d.7794e2","name":"find_products_TOSELL_query","func":"msg.operation=\"find.toArray\";\nmsg.payload={\"status\" : \"TOSELL\"};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["d1edf3f5.b745b8"]]},{"id":"eb9b07f9.55ca4","type":"function","z":"239b551d.7794e2","name":"read_answer","func":"var array = msg.payload;\nvar arrayLength = array.length;\n\nif(arrayLength === 0){\n    msg.payload = \"ERROR no_products_to_sell\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":288,"wires":[["25b9e5f9.d4a772"]]},{"id":"c1f12614.e3403","type":"comment","z":"239b551d.7794e2","name":"Notify a delivey to the warehouse","info":"","x":170,"y":40,"wires":[]},{"id":"d1edf3f5.b745b8","type":"mongodb3 in","z":"239b551d.7794e2","service":"_ext_","configNode":"713a79a6.bfde6","name":"E-Shipping DB","collection":"products","operation":"","x":410,"y":220,"wires":[["eb9b07f9.55ca4"]]},{"id":"86c74123.b91b58","type":"ui_button","z":"239b551d.7794e2","name":"","group":"aea2ab51.8ac1d8","order":1,"width":"0","height":"0","passthru":false,"label":"Notify purchase","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":100,"wires":[["1b0ecccb.cbecb3"]]},{"id":"542569e3.0cdc6","type":"mqtt out","z":"239b551d.7794e2","name":"eshipping/warehouse/toDeliver","topic":"eshipping/warehouse/toDeliver","qos":"2","retain":"","broker":"b8d8daf2.14ba08","x":870,"y":480,"wires":[]},{"id":"25b9e5f9.d4a772","type":"switch","z":"239b551d.7794e2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"istype","v":"array","vt":"array"}],"checkall":"true","repair":false,"outputs":2,"x":552,"y":346,"wires":[["98ad62fa.cbd668"],["c3238a47.794f"]]},{"id":"c3238a47.794f","type":"function","z":"239b551d.7794e2","name":"take_random_product","func":"var array = msg.payload;\nvar arrayLength = array.length;\n\nvar n = getRandomArbitrary(0,arrayLength);\nmsg.payload = array[n];\n\nreturn msg;\n\nfunction getRandomArbitrary(min,max){\n    return Math.floor(Math.random()*(max));\n}","outputs":1,"noerr":0,"x":674,"y":412,"wires":[["542569e3.0cdc6"]]},{"id":"98ad62fa.cbd668","type":"mqtt out","z":"239b551d.7794e2","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"b8d8daf2.14ba08","x":783,"y":304,"wires":[]},{"id":"713a79a6.bfde6","type":"mongodb3","z":"239b551d.7794e2","uri":"mongodb://localhost/eshipping","name":"MongoLocal","options":"","parallelism":"-1"},{"id":"aea2ab51.8ac1d8","type":"ui_group","z":"","name":"Commands","tab":"57f4e0a4.0bb14","order":1,"disp":true,"width":"6","collapse":false},{"id":"b8d8daf2.14ba08","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"57f4e0a4.0bb14","type":"ui_tab","z":"","name":"HOME","icon":"dashboard","order":1}]