node-red/single_flows/RFID_scanner_nodes.txt
[{"id":"87baad62.f6783","type":"subflow","name":"Check Read Error","info":"","in":[{"x":100,"y":220,"wires":[{"id":"3191505c.7d4f"}]}],"out":[{"x":760,"y":320,"wires":[{"id":"d0be438e.91bd08","port":1}]}]},{"id":"4de5a3f4.910ab4","type":"mqtt out","z":"87baad62.f6783","name":"scannerRFID/error","topic":"eshipping/scannerRFID/error","qos":"2","retain":"","broker":"2c6deff3.800808","x":870,"y":220,"wires":[]},{"id":"1d91ecfe.6345c3","type":"function","z":"87baad62.f6783","name":"Manage Error","func":"msg.payload = msg.payload.message; \n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["4de5a3f4.910ab4"]]},{"id":"d0be438e.91bd08","type":"switch","z":"87baad62.f6783","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":220,"wires":[["1d91ecfe.6345c3"],[]]},{"id":"3191505c.7d4f","type":"function","z":"87baad62.f6783","name":"Check","func":"var string = msg.payload.toString(\"utf8\");\nvar splitted = string.split(\" \");\nmsg.payload = {};\nmsg.payload.answer = splitted[0];\nmsg.payload.message = splitted[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["d0be438e.91bd08"]]},{"id":"baa752ff.b466b","type":"subflow","name":"Check Write Error","info":"","in":[{"x":50,"y":30,"wires":[{"id":"702c899c.a99f"}]}],"out":[{"x":680,"y":240,"wires":[{"id":"160a4871.17f78","port":1}]}]},{"id":"606da46c.88d65c","type":"mqtt out","z":"baa752ff.b466b","name":"scannerRFID/error","topic":"eshipping/scannerRFID/error","qos":"2","retain":"","broker":"2c6deff3.800808","x":830,"y":160,"wires":[]},{"id":"d6cc8e49.cffc2","type":"function","z":"baa752ff.b466b","name":"Manage Error","func":"msg.payload = msg.payload.message; \nreturn msg;","outputs":1,"noerr":0,"x":600,"y":160,"wires":[["606da46c.88d65c"]]},{"id":"160a4871.17f78","type":"switch","z":"baa752ff.b466b","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":160,"wires":[["d6cc8e49.cffc2"],[]]},{"id":"702c899c.a99f","type":"function","z":"baa752ff.b466b","name":"Check","func":"var string = msg.payload.toString(\"utf8\");\nvar splitted = string.split(\" \");\nmsg.payload = {};\nmsg.payload.answer = splitted[0];\nmsg.payload.message = splitted[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":160,"wires":[["160a4871.17f78"]]},{"id":"2c6deff3.800808","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"9761fbb6.843088","type":"function","z":"1ccfd2b1.558bc5","name":"set_command","func":"var productID = msg.payload;\n\nif(productID !== null){\n    msg.payload = {};\n    msg.payload = \"READ \" + productID +\" \\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":860,"wires":[["cd2b1a6c.c13e38"]]},{"id":"4bcbec70.848fbc","type":"encrypt","z":"1ccfd2b1.558bc5","name":"ENCRYPT INFO","algorithm":"AES","key":"eshipping_password","x":405,"y":204,"wires":[["7061fed5.3fc4b8"]]},{"id":"daa659dc.fda828","type":"function","z":"1ccfd2b1.558bc5","name":"get_product_info","func":"var str = msg.payload.toString();\nvar splitted = str.split(\":\");\nmsg.payload = splitted[1];\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":149,"wires":[["4bcbec70.848fbc"]]},{"id":"d5ca6fd6.e17578","type":"mqtt in","z":"1ccfd2b1.558bc5","name":"scannerRFID/toEncrypt","topic":"eshipping/scannerRFID/toEncrypt","qos":"2","broker":"fb7a25a5.7f491","x":120,"y":140,"wires":[["daa659dc.fda828","7d6b9326.b20ae4"]]},{"id":"a7949b6.98a3768","type":"function","z":"1ccfd2b1.558bc5","name":"set_command","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\n\nvar encryptedInfo = msg.payload.encryptedInfo;\nvar tagID = msg.payload.tagID;\nmsg.payload = \"WRITE \" + tagID + \" \" +encryptedInfo +\" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["8e8792b2.27e748"]]},{"id":"8a9d40d6.678678","type":"mqtt in","z":"1ccfd2b1.558bc5","name":"scannerRFID/toDecrypt","topic":"eshipping/scannerRFID/toDecrypt","qos":"2","broker":"fb7a25a5.7f491","x":140,"y":800,"wires":[["9761fbb6.843088"]]},{"id":"6434c3ae.3992fc","type":"decrypt","z":"1ccfd2b1.558bc5","name":"DECRYPT INFO","algorithm":"AES","key":"eshipping_password","x":590,"y":1100,"wires":[["47bdd8e5.d5cd08"]]},{"id":"8e8792b2.27e748","type":"tcp request","z":"1ccfd2b1.558bc5","server":"localhost","port":"9005","out":"char","splitc":"\\n","name":"WRITE tag","x":670,"y":440,"wires":[["a932e4e8.e71bb8"]]},{"id":"cd2b1a6c.c13e38","type":"tcp request","z":"1ccfd2b1.558bc5","server":"localhost","port":"9005","out":"char","splitc":"\\n","name":"READ tag","x":280,"y":920,"wires":[["9795d466.651b38"]]},{"id":"7d6b9326.b20ae4","type":"function","z":"1ccfd2b1.558bc5","name":"get_product_ID","func":"var str = msg.payload.toString();\nvar splitted = str.split(\":\");\nmsg.payload =  {};\nmsg.payload.tagID = splitted[0];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":420,"wires":[["74dca6f3.3eb4b","2492950a.46f5e2"]]},{"id":"74dca6f3.3eb4b","type":"join","z":"1ccfd2b1.558bc5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":580,"wires":[["abc7beef.2b88e8"]]},{"id":"57ae1d0c.574934","type":"function","z":"1ccfd2b1.558bc5","name":"get_encrypted_info","func":"var encryptedInfo = msg.payload.message;\nmsg.payload = {};\nmsg.payload = encryptedInfo;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1040,"wires":[["6434c3ae.3992fc"]]},{"id":"a932e4e8.e71bb8","type":"subflow:baa752ff.b466b","z":"1ccfd2b1.558bc5","name":"","x":770,"y":500,"wires":[["74dca6f3.3eb4b"]]},{"id":"9795d466.651b38","type":"subflow:87baad62.f6783","z":"1ccfd2b1.558bc5","x":370,"y":980,"wires":[["57ae1d0c.574934"]]},{"id":"47bdd8e5.d5cd08","type":"mqtt out","z":"1ccfd2b1.558bc5","name":"eshipping/scannerRFID/decrypted","topic":"eshipping/scannerRFID/decrypted","qos":"2","retain":"","broker":"2c6deff3.800808","x":760,"y":1160,"wires":[]},{"id":"4a772239.5efe34","type":"comment","z":"1ccfd2b1.558bc5","name":"Encrypt product info","info":"","x":110,"y":80,"wires":[]},{"id":"6d2ec8b3.8fdd58","type":"comment","z":"1ccfd2b1.558bc5","name":"Decrypt product info","info":"","x":130,"y":740,"wires":[]},{"id":"2492950a.46f5e2","type":"join","z":"1ccfd2b1.558bc5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":320,"wires":[["a7949b6.98a3768"]]},{"id":"40e2769b.322df","type":"mqtt out","z":"1ccfd2b1.558bc5","name":"scannerRFID/encrypted","topic":"eshipping/scannerRFID/encrypted","qos":"2","retain":"","broker":"92ae8a0.f550678","x":1090,"y":700,"wires":[]},{"id":"abc7beef.2b88e8","type":"function","z":"1ccfd2b1.558bc5","name":"confirm_operation","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\nvar tagID = msg.payload.tagID;\n\nmsg.payload = {};\nmsg.payload = tagID;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":640,"wires":[["40e2769b.322df"]]},{"id":"7061fed5.3fc4b8","type":"function","z":"1ccfd2b1.558bc5","name":"get_encryption","func":"var encryptedInfo = msg.payload;\nmsg.payload =  {};\nmsg.payload.encryptedInfo = encryptedInfo;\n\nreturn msg;","outputs":1,"noerr":0,"x":513.5,"y":260.6000061035156,"wires":[["2492950a.46f5e2"]]},{"id":"fb7a25a5.7f491","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"92ae8a0.f550678","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""}]