node-red/single_flows/vehicle_nodes.txt
[{"id":"e3fa016d.74e958","type":"subflow","name":"Check Vehicle Error ","info":"","in":[{"x":50,"y":30,"wires":[{"id":"d87d9b00.345e58"}]}],"out":[{"x":740,"y":120,"wires":[{"id":"5da8145b.b5337c","port":"0"}]},{"x":740,"y":195,"wires":[{"id":"5da8145b.b5337c","port":1}]}]},{"id":"c103d728.e7e1","type":"mqtt out","z":"e3fa016d.74e958","name":"eshipping/vehicles/error","topic":"eshipping/vehicles/error","qos":"2","retain":"","broker":"6cb7127b.03b4ec","x":790,"y":300,"wires":[]},{"id":"7280d9e6.270cc","type":"function","z":"e3fa016d.74e958","name":"Manage Error","func":"msg.payload = msg.payload.message; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["c103d728.e7e1"]]},{"id":"5da8145b.b5337c","type":"switch","z":"e3fa016d.74e958","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"ERROR","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":180,"wires":[[],[],["7280d9e6.270cc"]]},{"id":"d87d9b00.345e58","type":"function","z":"e3fa016d.74e958","name":"Check","func":"var string = msg.payload.toString(\"utf8\");\nvar splitted = string.split(\" \");\nmsg.payload = {};\nmsg.payload.answer = splitted[0];\nmsg.payload.message = splitted[1];//stringa lat_long\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["5da8145b.b5337c"]]},{"id":"6cb7127b.03b4ec","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"acf43ccf.6b34f","type":"function","z":"d69f9491.4eb9a","name":"read_message","func":"var string = msg.payload;\nvar array = string.split(\"###\");\nvar productInfo = array[1];\nvar arrayProduct = productInfo.split(\"_\");\n\nmsg.payload = {};\nmsg.payload.idVehicle = array[0];\nmsg.payload.productID = arrayProduct[0];\nmsg.payload.productDescription = arrayProduct[1];\nmsg.payload.productDestination = arrayProduct[2];\nmsg.payload.productType = arrayProduct[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["b1d545ed.053bb","8df5250b.469ff8"]]},{"id":"53cda582.f3fb8c","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"SENSORS","x":654,"y":69,"wires":[["9f94fe0a.31bca8"]]},{"id":"9f94fe0a.31bca8","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","x":864,"y":69,"wires":[[],[]]},{"id":"89a365c3.64965","type":"mqtt in","z":"d69f9491.4eb9a","name":"eshipping/vehicle/000/start","topic":"eshipping/vehicle/000/start","qos":"2","broker":"7003496d.c81638","x":150,"y":100,"wires":[["acf43ccf.6b34f"]]},{"id":"b1d545ed.053bb","type":"function","z":"d69f9491.4eb9a","name":"set_message","func":"msg.payload = msg.payload.productType + \" SENSORS \" + msg.payload.productID +  \" \\n\"; \nreturn msg;","outputs":1,"noerr":0,"x":474,"y":69,"wires":[["53cda582.f3fb8c"]]},{"id":"3c316abe.d8a766","type":"comment","z":"d69f9491.4eb9a","name":"Start vehicle 000 delivery","info":"","x":150,"y":60,"wires":[]},{"id":"29961074.6f81","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":300,"wires":[["e97d3b1.7e50848"]]},{"id":"e97d3b1.7e50848","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"STANDARD GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["2bd66f6a.a3de68"]]},{"id":"2bd66f6a.a3de68","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"STANDARD GET","x":730,"y":300,"wires":[["68ffde7f.a8e23"]]},{"id":"c53285e1.587d2","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":180,"wires":[["4a0a4523.bd144c","94ada15b.0a01c"],["29961074.6f81"]]},{"id":"4a0a4523.bd144c","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["4ca80ac8.8ae2f4"]]},{"id":"68ffde7f.a8e23","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":940,"y":300,"wires":[["c53285e1.587d2","3da36c53.85f0dc","a9f475b1.b1cc3"],["17d28e63.91b0ea","c53285e1.587d2"]]},{"id":"8df5250b.469ff8","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":440,"wires":[["29961074.6f81"],["c5544d84.196c68"],["f1cf3ac6.79e088"]]},{"id":"c5544d84.196c68","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":580,"wires":[["be18ab01.1ffda"]]},{"id":"be18ab01.1ffda","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"FRAGILE GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":580,"wires":[["b22fdf6c.30fa8"]]},{"id":"b22fdf6c.30fa8","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"FRAGILE GET","x":660,"y":580,"wires":[["72e989ed.eb0e08"]]},{"id":"72e989ed.eb0e08","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":860,"y":580,"wires":[["1e0d7497.b30fc3","17fab867.89a9d8","4dad2d00.f41f2c"],["d1060352.f936f8","1e0d7497.b30fc3"]]},{"id":"a925e1eb.70587","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":460,"wires":[["2f60d7cc.b7c98"]]},{"id":"1e0d7497.b30fc3","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":460,"wires":[["a925e1eb.70587","27d4d7cf.b56a3"],["c5544d84.196c68"]]},{"id":"17fab867.89a9d8","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nvar vibrationDetected = data[2];\nvar alarm;\nif(vibrationDetected >= 4000){\n    alarm = true;\n}else{\n    alarm = false;\n}\n\nmsg.payload = {};\nmsg.payload = \"FRAGILE \" + lat + \"_\" + long + \"_\" + vibrationDetected;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":570,"wires":[["6eb232a0.28fc9c"]]},{"id":"3da36c53.85f0dc","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"var latlong = msg.payload.message.split(\"_\");\nvar lat = latlong[0];\nvar long = latlong[1];\nmsg.payload = {};\n\nmsg.payload = \"STANDARD \" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":285,"wires":[["5109e640.b09e88"]]},{"id":"f1cf3ac6.79e088","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":860,"wires":[["7408e4b4.393ef4"]]},{"id":"7408e4b4.393ef4","type":"function","z":"d69f9491.4eb9a","name":"get_tmp_hum","func":"msg.payload = \"FRIGO GET \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":860,"wires":[["909935.9fff8ec8"]]},{"id":"f83346bd.bef23","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":880,"y":860,"wires":[["67112c12.fbf04c","eee41b69.fba34","f22f2681.26091"],["f00b0854.762c78","eee41b69.fba34"]]},{"id":"909935.9fff8ec8","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"FRIGO GETSIM","x":660,"y":860,"wires":[["f83346bd.bef23"]]},{"id":"67112c12.fbf04c","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nvar lat = data[0];\nvar long = data[1];\nvar setFrigo = data[2];\nvar setDehum = data[3];\nvar tmp = data[4];\nvar hum =data[5];\n\nif(tmp > 10){\n        setFrigo = true;\n}\nelse if(tmp <= 5){\n        setFrigo = false;\n}\n\nif(hum > 75){\n        setDehum = true;\n}\nelse if(hum <= 55){\n        setDehum = false;\n}\n\nmsg.payload = {};\n\nif(tmp >= 12){\n    msg.payload.alarmTmp = true;\n}\n\nmsg.payload.setFrigo = setFrigo;\nmsg.payload.setDehum = setDehum;\nmsg.payload.temp = tmp;\nmsg.payload.hum = hum;\nmsg.payload.lat = lat;\nmsg.payload.long = long;\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":840,"wires":[["1af33a59.d3547e","9ff37485.1941b"]]},{"id":"1af33a59.d3547e","type":"function","z":"d69f9491.4eb9a","name":"set_sim","func":"var setFrigo = msg.payload.setFrigo;\nvar setDehum = msg.payload.setDehum;\nmsg.payload = {};\nmsg.payload = \"FRIGO SET \" + setFrigo + \" \" + setDehum + \" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":840,"wires":[["703208ee.6cdc28"]]},{"id":"703208ee.6cdc28","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"FRIGO SETSIM","x":1580,"y":840,"wires":[["2ec3d4df.1060fc"]]},{"id":"eee41b69.fba34","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":740,"wires":[["63d2f7e9.26b368","f9afc0c3.ad563"],["f1cf3ac6.79e088"]]},{"id":"63d2f7e9.26b368","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":740,"wires":[["fcdfd7aa.5ceea8"]]},{"id":"9ff37485.1941b","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"var tmp = msg.payload.temp;\nvar hum = msg.payload.hum;\nvar alarm = msg.payload.alarmTmp;\nvar lat = msg.payload.lat;\nvar long = msg.payload.long;\nmsg.payload = {};\n\nif(alarm){\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_true_\" + hum; \n}else{\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_false_\" + hum; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1465,"y":885,"wires":[["e3a25bba.06771"]]},{"id":"2ec3d4df.1060fc","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":1780,"y":840,"wires":[[],[]]},{"id":"4ca80ac8.8ae2f4","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/000/end","topic":"eshipping/vehicle/000/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1200,"y":180,"wires":[]},{"id":"e3a25bba.06771","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/000","topic":"eshipping/warehouse/dashboard/000","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1740,"y":885,"wires":[]},{"id":"6eb232a0.28fc9c","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/000","topic":"eshipping/warehouse/dashboard/000","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1455,"y":585,"wires":[]},{"id":"5109e640.b09e88","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/000","topic":"eshipping/warehouse/dashboard/000","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1485,"y":285,"wires":[]},{"id":"2f60d7cc.b7c98","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/000/end","topic":"eshipping/vehicle/000/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1180,"y":460,"wires":[]},{"id":"fcdfd7aa.5ceea8","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/000/end","topic":"eshipping/vehicle/000/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1200,"y":740,"wires":[]},{"id":"94260089.e0e818","type":"function","z":"d69f9491.4eb9a","name":"read_message","func":"var string = msg.payload;\nvar array = string.split(\"###\");\nvar productInfo = array[1];\nvar arrayProduct = productInfo.split(\"_\");\n\nmsg.payload = {};\nmsg.payload.idVehicle = array[0];\nmsg.payload.productID = arrayProduct[0];\nmsg.payload.productDescription = arrayProduct[1];\nmsg.payload.productDestination = arrayProduct[2];\nmsg.payload.productType = arrayProduct[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":1158,"wires":[["780b269d.0c3348","6d2caad7.84beec"]]},{"id":"d0debbd2.35c04","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"SENSORS","x":611,"y":1077,"wires":[["112ed26.8d3372e"]]},{"id":"112ed26.8d3372e","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","x":821,"y":1077,"wires":[[],[]]},{"id":"be20b033.035158","type":"mqtt in","z":"d69f9491.4eb9a","name":"eshipping/vehicle/001/start","topic":"eshipping/vehicle/001/start","qos":"2","broker":"7003496d.c81638","x":154,"y":1078,"wires":[["94260089.e0e818"]]},{"id":"780b269d.0c3348","type":"function","z":"d69f9491.4eb9a","name":"set_message","func":"msg.payload = msg.payload.productType + \" SENSORS \" + msg.payload.productID +  \" \\n\"; \nreturn msg;","outputs":1,"noerr":0,"x":431,"y":1077,"wires":[["d0debbd2.35c04"]]},{"id":"6687d09c.dda4c","type":"comment","z":"d69f9491.4eb9a","name":"Start vehicle 001 delivery","info":"","x":154,"y":1038,"wires":[]},{"id":"cec0c311.d374a8","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":404,"y":1278,"wires":[["915534c7.8f86c8"]]},{"id":"915534c7.8f86c8","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"STANDARD GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":1278,"wires":[["dfc9fff3.8178a"]]},{"id":"dfc9fff3.8178a","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"STANDARD GET","x":734,"y":1278,"wires":[["5c85defa.a544e8"]]},{"id":"ab2188f8.411e98","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":714,"y":1158,"wires":[["cd7fde80.750c","255ed649.e3e3ea"],["cec0c311.d374a8"]]},{"id":"cd7fde80.750c","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":954,"y":1158,"wires":[["54b7c3ba.54f894"]]},{"id":"5c85defa.a544e8","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":944,"y":1278,"wires":[["ab2188f8.411e98","82a31162.24ed5","f389de8f.e52f5"],["ab2188f8.411e98","c7bfa032.8be6c8"]]},{"id":"6d2caad7.84beec","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":154,"y":1418,"wires":[["cec0c311.d374a8"],["8d8deed1.0afdf8"],["2b91505b.6392f"]]},{"id":"8d8deed1.0afdf8","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364,"y":1558,"wires":[["93f2dd3d.448ec8"]]},{"id":"93f2dd3d.448ec8","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"FRAGILE GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":504,"y":1558,"wires":[["bc32b4c2.5a87d"]]},{"id":"bc32b4c2.5a87d","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"FRAGILE GET","x":664,"y":1558,"wires":[["9af488b.a7a49f8"]]},{"id":"9af488b.a7a49f8","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":864,"y":1558,"wires":[["ae1a7dea.90ad7","61a759e8.1bbd8","41802611.ab9638"],["7529391d.8de92","ae1a7dea.90ad7"]]},{"id":"ae21b118.c92e08","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":934,"y":1438,"wires":[["f387d365.8cef38"]]},{"id":"ae1a7dea.90ad7","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":714,"y":1438,"wires":[["ae21b118.c92e08","43ed5330.80dff4"],["8d8deed1.0afdf8"]]},{"id":"61a759e8.1bbd8","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nvar vibrationDetected = data[2];\nvar alarm;\nif(vibrationDetected >= 4000){\n    alarm = true;\n}else{\n    alarm = false;\n}\n\nmsg.payload = {};\nmsg.payload = \"FRAGILE \" + lat + \"_\" + long + \"_\" + vibrationDetected;\nreturn msg;","outputs":1,"noerr":0,"x":1164,"y":1533,"wires":[["e99472e0.efd9a"]]},{"id":"82a31162.24ed5","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"var latlong = msg.payload.message.split(\"_\");\nvar lat = latlong[0];\nvar long = latlong[1];\nmsg.payload = {};\n\nmsg.payload = \"STANDARD \" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1219,"y":1248,"wires":[["16f28de5.e86a82"]]},{"id":"2b91505b.6392f","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":284,"y":1838,"wires":[["99fd0ca1.7dd078"]]},{"id":"99fd0ca1.7dd078","type":"function","z":"d69f9491.4eb9a","name":"get_tmp_hum","func":"msg.payload = \"FRIGO GET \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":1838,"wires":[["fd251d78.7a7968"]]},{"id":"e8c2d523.50476","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":884,"y":1838,"wires":[["69e16880.a9e848","f2e9b8f1.c8c4f","d593ecf8.f23158"],["f2e9b8f1.c8c4f","b8fe22cc.2a6318"]]},{"id":"fd251d78.7a7968","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"FRIGO GETSIM","x":664,"y":1838,"wires":[["e8c2d523.50476"]]},{"id":"69e16880.a9e848","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nvar lat = data[0];\nvar long = data[1];\nvar setFrigo = data[2];\nvar setDehum = data[3];\nvar tmp = data[4];\nvar hum =data[5];\n\nif(tmp > 10){\n        setFrigo = true;\n}\nelse if(tmp <= 5){\n        setFrigo = false;\n}\n\nif(hum > 75){\n        setDehum = true;\n}\nelse if(hum <= 55){\n        setDehum = false;\n}\n\nmsg.payload = {};\n\nif(tmp >= 12){\n    msg.payload.alarmTmp = true;\n}\n\nmsg.payload.setFrigo = setFrigo;\nmsg.payload.setDehum = setDehum;\nmsg.payload.temp = tmp;\nmsg.payload.hum = hum;\nmsg.payload.lat = lat;\nmsg.payload.long = long;\n\nreturn msg;","outputs":1,"noerr":0,"x":1224,"y":1818,"wires":[["b0802094.cdbc38","eccd47cf.28bb3"]]},{"id":"b0802094.cdbc38","type":"function","z":"d69f9491.4eb9a","name":"set_sim","func":"var setFrigo = msg.payload.setFrigo;\nvar setDehum = msg.payload.setDehum;\nmsg.payload = {};\nmsg.payload = \"FRIGO SET \" + setFrigo + \" \" + setDehum + \" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1424,"y":1818,"wires":[["8642eefc.45c5b"]]},{"id":"8642eefc.45c5b","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"FRIGO SETSIM","x":1584,"y":1818,"wires":[["26f2343c.a94804"]]},{"id":"f2e9b8f1.c8c4f","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":714,"y":1718,"wires":[["8428173b.1330d8","538e3b0b.e9fcec"],["2b91505b.6392f"]]},{"id":"8428173b.1330d8","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":954,"y":1718,"wires":[["8f4d2d2a.8573e8"]]},{"id":"26f2343c.a94804","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":1784,"y":1818,"wires":[[],[]]},{"id":"54b7c3ba.54f894","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/001/end","topic":"eshipping/vehicle/001/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1204,"y":1158,"wires":[]},{"id":"305bc97.cfecf36","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/001","topic":"eshipping/warehouse/dashboard/001","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1744,"y":1863,"wires":[]},{"id":"e99472e0.efd9a","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/001","topic":"eshipping/warehouse/dashboard/001","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1444,"y":1533,"wires":[]},{"id":"16f28de5.e86a82","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/001","topic":"eshipping/warehouse/dashboard/001","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1489,"y":1248,"wires":[]},{"id":"f387d365.8cef38","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/001/end","topic":"eshipping/vehicle/001/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1184,"y":1438,"wires":[]},{"id":"8f4d2d2a.8573e8","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/001/end","topic":"eshipping/vehicle/001/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1204,"y":1718,"wires":[]},{"id":"5940068f.aa5df8","type":"function","z":"d69f9491.4eb9a","name":"read_message","func":"var string = msg.payload;\nvar array = string.split(\"###\");\nvar productInfo = array[1];\nvar arrayProduct = productInfo.split(\"_\");\n\nmsg.payload = {};\nmsg.payload.idVehicle = array[0];\nmsg.payload.productID = arrayProduct[0];\nmsg.payload.productDescription = arrayProduct[1];\nmsg.payload.productDestination = arrayProduct[2];\nmsg.payload.productType = arrayProduct[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":2166,"wires":[["34546ab5.9dc526","c927fd9f.6b5b"]]},{"id":"5ba8a1bc.1c5068","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"SENSORS","x":647,"y":2076,"wires":[["41ce7005.5da768"]]},{"id":"41ce7005.5da768","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","x":857,"y":2076,"wires":[[],[]]},{"id":"c485edc6.1fbb68","type":"mqtt in","z":"d69f9491.4eb9a","name":"eshipping/vehicle/002/start","topic":"eshipping/vehicle/002/start","qos":"2","broker":"7003496d.c81638","x":158,"y":2086,"wires":[["5940068f.aa5df8"]]},{"id":"34546ab5.9dc526","type":"function","z":"d69f9491.4eb9a","name":"set_message","func":"msg.payload = msg.payload.productType + \" SENSORS \" + msg.payload.productID +  \" \\n\"; \nreturn msg;","outputs":1,"noerr":0,"x":467,"y":2076,"wires":[["5ba8a1bc.1c5068"]]},{"id":"564d4cc2.97d834","type":"comment","z":"d69f9491.4eb9a","name":"Start vehicle 002 delivery","info":"","x":158,"y":2046,"wires":[]},{"id":"3c608979.869e7e","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":408,"y":2286,"wires":[["7d51820e.5f732c"]]},{"id":"7d51820e.5f732c","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"STANDARD GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":568,"y":2286,"wires":[["837fe329.fedd58"]]},{"id":"837fe329.fedd58","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"STANDARD GET","x":738,"y":2286,"wires":[["2171503b.143588"]]},{"id":"8fed55f3.e35cb8","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":718,"y":2166,"wires":[["d3ea448.628e7b8","be3a4eb8.0b864"],["3c608979.869e7e"]]},{"id":"d3ea448.628e7b8","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":958,"y":2166,"wires":[["1051aa8.a4a94d6"]]},{"id":"2171503b.143588","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":948,"y":2286,"wires":[["8fed55f3.e35cb8","5d71ed94.bec4cc","5372cb89.d95d0c"],["16823135.ece01f","8fed55f3.e35cb8"]]},{"id":"c927fd9f.6b5b","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":158,"y":2426,"wires":[["3c608979.869e7e"],["54aa2c4c.7e8b2c"],["4915da48.961294"]]},{"id":"54aa2c4c.7e8b2c","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368,"y":2566,"wires":[["b9f7c798.adf738"]]},{"id":"b9f7c798.adf738","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"FRAGILE GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":2566,"wires":[["86b5168a.b67078"]]},{"id":"86b5168a.b67078","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"FRAGILE GET","x":668,"y":2566,"wires":[["8a13543a.bdda38"]]},{"id":"8a13543a.bdda38","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":868,"y":2566,"wires":[["19f78ed.740d971","f74fc364.8e79e","5c9ff727.f7241"],["a2e4c612.d6f62","19f78ed.740d971"]]},{"id":"3e8889a8.8b69f6","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":938,"y":2446,"wires":[["6beef935.11721"]]},{"id":"19f78ed.740d971","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":718,"y":2446,"wires":[["3e8889a8.8b69f6","c6a89a83.0aeec8"],["54aa2c4c.7e8b2c"]]},{"id":"f74fc364.8e79e","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nvar vibrationDetected = data[2];\nvar alarm;\nif(vibrationDetected >= 4000){\n    alarm = true;\n}else{\n    alarm = false;\n}\n\nmsg.payload = {};\nmsg.payload = \"FRAGILE \" + lat + \"_\" + long + \"_\" + vibrationDetected;\nreturn msg;","outputs":1,"noerr":0,"x":1168,"y":2536,"wires":[["e985bd56.490608"]]},{"id":"5d71ed94.bec4cc","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"var latlong = msg.payload.message.split(\"_\");\nvar lat = latlong[0];\nvar long = latlong[1];\nmsg.payload = {};\n\nmsg.payload = \"STANDARD \" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1208,"y":2266,"wires":[["1e7bc0aa.ee825f"]]},{"id":"4915da48.961294","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":288,"y":2846,"wires":[["b6301341.de4218"]]},{"id":"b6301341.de4218","type":"function","z":"d69f9491.4eb9a","name":"get_tmp_hum","func":"msg.payload = \"FRIGO GET \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":2846,"wires":[["120dbd8c.2bd412"]]},{"id":"d098e86b.d7eab","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":888,"y":2846,"wires":[["9b60197a.323c4","2feb33d3.b48dcc","3d437a9f.af124e"],["2feb33d3.b48dcc","c97614b0.3c2ed8"]]},{"id":"120dbd8c.2bd412","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"FRIGO GETSIM","x":668,"y":2846,"wires":[["d098e86b.d7eab"]]},{"id":"9b60197a.323c4","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nvar lat = data[0];\nvar long = data[1];\nvar setFrigo = data[2];\nvar setDehum = data[3];\nvar tmp = data[4];\nvar hum =data[5];\n\nif(tmp > 10){\n        setFrigo = true;\n}\nelse if(tmp <= 5){\n        setFrigo = false;\n}\n\nif(hum > 75){\n        setDehum = true;\n}\nelse if(hum <= 55){\n        setDehum = false;\n}\n\nmsg.payload = {};\n\nif(tmp >= 12){\n    msg.payload.alarmTmp = true;\n}\n\nmsg.payload.setFrigo = setFrigo;\nmsg.payload.setDehum = setDehum;\nmsg.payload.temp = tmp;\nmsg.payload.hum = hum;\nmsg.payload.lat = lat;\nmsg.payload.long = long;\n\nreturn msg;","outputs":1,"noerr":0,"x":1228,"y":2826,"wires":[["9dc28ae4.7d50c","b6a07d99.d0c03"]]},{"id":"9dc28ae4.7d50c","type":"function","z":"d69f9491.4eb9a","name":"set_sim","func":"var setFrigo = msg.payload.setFrigo;\nvar setDehum = msg.payload.setDehum;\nmsg.payload = {};\nmsg.payload = \"FRIGO SET \" + setFrigo + \" \" + setDehum + \" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1428,"y":2826,"wires":[["3fe219da.6b124e"]]},{"id":"3fe219da.6b124e","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"FRIGO SETSIM","x":1588,"y":2826,"wires":[["1952638.0742a1d"]]},{"id":"2feb33d3.b48dcc","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":718,"y":2726,"wires":[["5ae389ca.95e49","9cf020d1.21c958"],["4915da48.961294"]]},{"id":"5ae389ca.95e49","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":958,"y":2726,"wires":[["109c6820.821e7"]]},{"id":"1952638.0742a1d","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":1788,"y":2826,"wires":[[],[]]},{"id":"1051aa8.a4a94d6","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/002/end","topic":"eshipping/vehicle/002/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1208,"y":2166,"wires":[]},{"id":"90f5eb61.8bba88","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/002","topic":"eshipping/warehouse/dashboard/002","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1748,"y":2866,"wires":[]},{"id":"e985bd56.490608","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/002","topic":"eshipping/warehouse/dashboard/002","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1448,"y":2536,"wires":[]},{"id":"1e7bc0aa.ee825f","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/002","topic":"eshipping/warehouse/dashboard/002","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1493,"y":2266,"wires":[]},{"id":"6beef935.11721","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/002/end","topic":"eshipping/vehicle/002/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1188,"y":2446,"wires":[]},{"id":"109c6820.821e7","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/002/end","topic":"eshipping/vehicle/002/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1208,"y":2726,"wires":[]},{"id":"402f1c8e.c8667c","type":"function","z":"d69f9491.4eb9a","name":"read_message","func":"var string = msg.payload;\nvar array = string.split(\"###\");\nvar productInfo = array[1];\nvar arrayProduct = productInfo.split(\"_\");\n\nmsg.payload = {};\nmsg.payload.idVehicle = array[0];\nmsg.payload.productID = arrayProduct[0];\nmsg.payload.productDescription = arrayProduct[1];\nmsg.payload.productDestination = arrayProduct[2];\nmsg.payload.productType = arrayProduct[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":3150,"wires":[["47458f7c.375e68","ccc92d08.b835e8"]]},{"id":"1568eb2.8d8ea15","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"SENSORS","x":652,"y":3068,"wires":[["5ac7bf67.f1e6a"]]},{"id":"5ac7bf67.f1e6a","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","x":862,"y":3068,"wires":[[],[]]},{"id":"ee4f2bb6.01db4","type":"mqtt in","z":"d69f9491.4eb9a","name":"eshipping/vehicle/003/start","topic":"eshipping/vehicle/003/start","qos":"2","broker":"7003496d.c81638","x":162,"y":3070,"wires":[["402f1c8e.c8667c"]]},{"id":"47458f7c.375e68","type":"function","z":"d69f9491.4eb9a","name":"set_message","func":"msg.payload = msg.payload.productType + \" SENSORS \" + msg.payload.productID +  \" \\n\"; \nreturn msg;","outputs":1,"noerr":0,"x":472,"y":3068,"wires":[["1568eb2.8d8ea15"]]},{"id":"1197dbcc.d203ec","type":"comment","z":"d69f9491.4eb9a","name":"Start vehicle 003 delivery","info":"","x":162,"y":3030,"wires":[]},{"id":"88597c55.d354c8","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":412,"y":3270,"wires":[["7f88692e.aaffc"]]},{"id":"7f88692e.aaffc","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"STANDARD GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":3270,"wires":[["ce03fbb3.5870a"]]},{"id":"ce03fbb3.5870a","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"STANDARD GET","x":742,"y":3270,"wires":[["1725fdac.ff9a72"]]},{"id":"e7839d95.11dc1","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":722,"y":3150,"wires":[["4379aa8d.7ad8f4","aab4804b.dcca9"],["88597c55.d354c8"]]},{"id":"4379aa8d.7ad8f4","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":962,"y":3150,"wires":[["968eea8f.1a2ee"]]},{"id":"1725fdac.ff9a72","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":952,"y":3270,"wires":[["e7839d95.11dc1","abc76583.8b79f","c54baf2a.7966"],["ff0ee25a.4e97d8","e7839d95.11dc1"]]},{"id":"ccc92d08.b835e8","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":162,"y":3410,"wires":[["88597c55.d354c8"],["e46db46e.8919"],["6116149f.c73224"]]},{"id":"e46db46e.8919","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":372,"y":3550,"wires":[["9341f4eb.7c133"]]},{"id":"9341f4eb.7c133","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"FRAGILE GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":3550,"wires":[["1bc2b7ea.36c55"]]},{"id":"1bc2b7ea.36c55","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"FRAGILE GET","x":672,"y":3550,"wires":[["9a7d1126.6e8838"]]},{"id":"9a7d1126.6e8838","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":872,"y":3550,"wires":[["83afd417.f5c4d","39029cdf.6a91a4","6f345136.8fadd"],["dcd68188.d1b428","83afd417.f5c4d"]]},{"id":"c3ec187.4ef2168","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":942,"y":3430,"wires":[["d136f54.b062488"]]},{"id":"83afd417.f5c4d","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":722,"y":3430,"wires":[["c3ec187.4ef2168","4fe3ee01.c4cce8"],["e46db46e.8919"]]},{"id":"39029cdf.6a91a4","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nvar vibrationDetected = data[2];\nvar alarm;\nif(vibrationDetected >= 4000){\n    alarm = true;\n}else{\n    alarm = false;\n}\n\nmsg.payload = {};\nmsg.payload = \"FRAGILE \" + lat + \"_\" + long + \"_\" + vibrationDetected;\nreturn msg;","outputs":1,"noerr":0,"x":1172,"y":3515,"wires":[["df7576bb.20a9"]]},{"id":"abc76583.8b79f","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"var latlong = msg.payload.message.split(\"_\");\nvar lat = latlong[0];\nvar long = latlong[1];\nmsg.payload = {};\n\nmsg.payload = \"STANDARD \" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1227,"y":3245,"wires":[["92a1800b.1acd78"]]},{"id":"6116149f.c73224","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":292,"y":3830,"wires":[["739a2446.a3da1c"]]},{"id":"739a2446.a3da1c","type":"function","z":"d69f9491.4eb9a","name":"get_tmp_hum","func":"msg.payload = \"FRIGO GET \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":3830,"wires":[["8ba67e35.5bf65"]]},{"id":"e26c2292.ae871","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":892,"y":3830,"wires":[["58c5e4e2.6ac304","84010df0.6bf468","2b2dcdbd.38c972"],["84010df0.6bf468","b42250c8.b548f"]]},{"id":"8ba67e35.5bf65","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"FRIGO GETSIM","x":672,"y":3830,"wires":[["e26c2292.ae871"]]},{"id":"58c5e4e2.6ac304","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nvar lat = data[0];\nvar long = data[1];\nvar setFrigo = data[2];\nvar setDehum = data[3];\nvar tmp = data[4];\nvar hum =data[5];\n\nif(tmp > 10){\n        setFrigo = true;\n}\nelse if(tmp <= 5){\n        setFrigo = false;\n}\n\nif(hum > 75){\n        setDehum = true;\n}\nelse if(hum <= 55){\n        setDehum = false;\n}\n\nmsg.payload = {};\n\nif(tmp >= 12){\n    msg.payload.alarmTmp = true;\n}\n\nmsg.payload.setFrigo = setFrigo;\nmsg.payload.setDehum = setDehum;\nmsg.payload.temp = tmp;\nmsg.payload.hum = hum;\nmsg.payload.lat = lat;\nmsg.payload.long = long;\n\nreturn msg;","outputs":1,"noerr":0,"x":1232,"y":3810,"wires":[["e417cee3.e17218","4b336694.e147b8"]]},{"id":"e417cee3.e17218","type":"function","z":"d69f9491.4eb9a","name":"set_sim","func":"var setFrigo = msg.payload.setFrigo;\nvar setDehum = msg.payload.setDehum;\nmsg.payload = {};\nmsg.payload = \"FRIGO SET \" + setFrigo + \" \" + setDehum + \" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1432,"y":3810,"wires":[["f59ce486.da44"]]},{"id":"f59ce486.da44","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"FRIGO SETSIM","x":1592,"y":3810,"wires":[["3a75bbad.af27f4"]]},{"id":"84010df0.6bf468","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":722,"y":3710,"wires":[["cb19e290.ae28e8","7a84cf4c.3c25b8"],["6116149f.c73224"]]},{"id":"cb19e290.ae28e8","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":962,"y":3710,"wires":[["97640393.23b79"]]},{"id":"3a75bbad.af27f4","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":1792,"y":3810,"wires":[[],[]]},{"id":"968eea8f.1a2ee","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/003/end","topic":"eshipping/vehicle/003/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1212,"y":3150,"wires":[]},{"id":"31f3c639.65edd2","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/003","topic":"eshipping/warehouse/dashboard/003","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1752,"y":3860,"wires":[]},{"id":"df7576bb.20a9","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/003","topic":"eshipping/warehouse/dashboard/003","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1437,"y":3515,"wires":[]},{"id":"92a1800b.1acd78","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/003","topic":"eshipping/warehouse/dashboard/003","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1497,"y":3245,"wires":[]},{"id":"d136f54.b062488","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/003/end","topic":"eshipping/vehicle/003/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1192,"y":3430,"wires":[]},{"id":"97640393.23b79","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/003/end","topic":"eshipping/vehicle/003/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1212,"y":3710,"wires":[]},{"id":"2f966063.17e81","type":"function","z":"d69f9491.4eb9a","name":"read_message","func":"var string = msg.payload;\nvar array = string.split(\"###\");\nvar productInfo = array[1];\nvar arrayProduct = productInfo.split(\"_\");\n\nmsg.payload = {};\nmsg.payload.idVehicle = array[0];\nmsg.payload.productID = arrayProduct[0];\nmsg.payload.productDescription = arrayProduct[1];\nmsg.payload.productDestination = arrayProduct[2];\nmsg.payload.productType = arrayProduct[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":327.3333740234375,"y":4230,"wires":[["9fbecdb7.f7b9d8","13381548.2f693b"]]},{"id":"2f5a4bcb.04169c","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"SENSORS","x":607.0001220703125,"y":4127,"wires":[["2ee8b8ab.d3f1"]]},{"id":"2ee8b8ab.d3f1","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","x":808.9998779296875,"y":4128.3330078125,"wires":[[],[]]},{"id":"1bb8295c.07dfa7","type":"mqtt in","z":"d69f9491.4eb9a","name":"eshipping/vehicle/004/start","topic":"eshipping/vehicle/004/start","qos":"2","broker":"7003496d.c81638","x":177.3333740234375,"y":4150,"wires":[["2f966063.17e81"]]},{"id":"9fbecdb7.f7b9d8","type":"function","z":"d69f9491.4eb9a","name":"set_message","func":"msg.payload = msg.payload.productType + \" SENSORS \" + msg.payload.productID +  \" \\n\"; \nreturn msg;","outputs":1,"noerr":0,"x":433.66668701171875,"y":4125.66650390625,"wires":[["2f5a4bcb.04169c"]]},{"id":"181fefe2.fc875","type":"comment","z":"d69f9491.4eb9a","name":"Start vehicle 004 delivery","info":"","x":177.3333740234375,"y":4110,"wires":[]},{"id":"7b3358d8.15a7b8","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":427.3333740234375,"y":4350,"wires":[["3d709d0c.c938aa"]]},{"id":"3d709d0c.c938aa","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"STANDARD GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":587.3333740234375,"y":4350,"wires":[["9c7c45aa.16f118"]]},{"id":"9c7c45aa.16f118","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"STANDARD GET","x":757.3333740234375,"y":4350,"wires":[["fc7a559a.3136c"]]},{"id":"7378bcdb.525f84","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":737.3333740234375,"y":4230,"wires":[["6f688fe9.8026f","4224a228.e8273c","370327bf.ce7f6"],["7b3358d8.15a7b8"]]},{"id":"6f688fe9.8026f","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":977.3333740234375,"y":4230,"wires":[["b7b1e6e7.e831d8"]]},{"id":"fc7a559a.3136c","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":967.3333740234375,"y":4350,"wires":[["7378bcdb.525f84","4d3b4abc.81a1d4","93305d09.793c18"],["370327bf.ce7f6","7378bcdb.525f84"]]},{"id":"13381548.2f693b","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":177.3333740234375,"y":4490,"wires":[["7b3358d8.15a7b8"],["a57987a1.dc2698"],["ad71dd15.1a6868"]]},{"id":"a57987a1.dc2698","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":387.3333740234375,"y":4630,"wires":[["acee68ed.4d2b3"]]},{"id":"acee68ed.4d2b3","type":"function","z":"d69f9491.4eb9a","name":"set_msg","func":"var message = \"FRAGILE GET \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":527.3333740234375,"y":4630,"wires":[["d806913d.c09fa"]]},{"id":"d806913d.c09fa","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"FRAGILE GET","x":687.3333740234375,"y":4630,"wires":[["2a5d865d.e70c62"]]},{"id":"2a5d865d.e70c62","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":887.3333740234375,"y":4630,"wires":[["da0e69f2.06a79","fe7b7789.11ad68","7733446d.f35824"],["4ea50e.097412f4","da0e69f2.06a79"]]},{"id":"ab961060.46dea","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":957.3333740234375,"y":4510,"wires":[["88c9ee68.56db4"]]},{"id":"da0e69f2.06a79","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":737.3333740234375,"y":4510,"wires":[["ab961060.46dea","2d413b25.9eea3c","4ea50e.097412f4"],["a57987a1.dc2698"]]},{"id":"fe7b7789.11ad68","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nvar vibrationDetected = data[2];\nvar alarm;\nif(vibrationDetected >= 4000){\n    alarm = true;\n}else{\n    alarm = false;\n}\n\nmsg.payload = {};\nmsg.payload = \"FRAGILE \" + lat + \"_\" + long + \"_\" + vibrationDetected;\nreturn msg;","outputs":1,"noerr":0,"x":1197.3333740234375,"y":4590,"wires":[["884fcb5d.a2c2"]]},{"id":"4d3b4abc.81a1d4","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"var latlong = msg.payload.message.split(\"_\");\nvar lat = latlong[0];\nvar long = latlong[1];\nmsg.payload = {};\n\nmsg.payload = \"STANDARD \" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1252.3333740234375,"y":4320,"wires":[["bfe2ff56.63505"]]},{"id":"ad71dd15.1a6868","type":"delay","z":"d69f9491.4eb9a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":307.3333740234375,"y":4910,"wires":[["7ba13962.565cc8"]]},{"id":"7ba13962.565cc8","type":"function","z":"d69f9491.4eb9a","name":"get_tmp_hum","func":"msg.payload = \"FRIGO GET \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":487.3333740234375,"y":4910,"wires":[["d883d3c.664b33"]]},{"id":"7deab6d1.5a667","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":907.3333740234375,"y":4910,"wires":[["d4e36fb0.510278","63300fd9.ac87d8","971707d3.de443"],["63300fd9.ac87d8","de5f80ff.35fb1"]]},{"id":"d883d3c.664b33","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"FRIGO GETSIM","x":687.3333740234375,"y":4910,"wires":[["7deab6d1.5a667"]]},{"id":"d4e36fb0.510278","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"var data = msg.payload.message.split(\"_\");\nvar lat = data[0];\nvar long = data[1];\nvar setFrigo = data[2];\nvar setDehum = data[3];\nvar tmp = data[4];\nvar hum =data[5];\n\nif(tmp > 10){\n        setFrigo = true;\n}\nelse if(tmp <= 5){\n        setFrigo = false;\n}\n\nif(hum > 75){\n        setDehum = true;\n}\nelse if(hum <= 55){\n        setDehum = false;\n}\n\nmsg.payload = {};\n\nif(tmp >= 12){\n    msg.payload.alarmTmp = true;\n}\n\nmsg.payload.setFrigo = setFrigo;\nmsg.payload.setDehum = setDehum;\nmsg.payload.temp = tmp;\nmsg.payload.hum = hum;\nmsg.payload.lat = lat;\nmsg.payload.long = long;\n\nreturn msg;","outputs":1,"noerr":0,"x":1247.3333740234375,"y":4890,"wires":[["692f3c51.7f435c","df4513d1.9bf0a8"]]},{"id":"692f3c51.7f435c","type":"function","z":"d69f9491.4eb9a","name":"set_sim","func":"var setFrigo = msg.payload.setFrigo;\nvar setDehum = msg.payload.setDehum;\nmsg.payload = {};\nmsg.payload = \"FRIGO SET \" + setFrigo + \" \" + setDehum + \" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1447.3333740234375,"y":4890,"wires":[["56d291b7.61d45"]]},{"id":"56d291b7.61d45","type":"tcp request","z":"d69f9491.4eb9a","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"FRIGO SETSIM","x":1607.3333740234375,"y":4890,"wires":[["6961ba11.c8ad6c"]]},{"id":"63300fd9.ac87d8","type":"switch","z":"d69f9491.4eb9a","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":737.3333740234375,"y":4790,"wires":[["3530a4f8.d47d34","7f5b48d3.636458","de5f80ff.35fb1"],["ad71dd15.1a6868"]]},{"id":"3530a4f8.d47d34","type":"function","z":"d69f9491.4eb9a","name":"prepare_message","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":977.3333740234375,"y":4790,"wires":[["f660e413.e5386"]]},{"id":"6961ba11.c8ad6c","type":"subflow:e3fa016d.74e958","z":"d69f9491.4eb9a","name":"","x":1807.3333740234375,"y":4890,"wires":[[],[]]},{"id":"b7b1e6e7.e831d8","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/004/end","topic":"eshipping/vehicle/004/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1227.3333740234375,"y":4230,"wires":[]},{"id":"350984fb.51e7f4","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/004","topic":"eshipping/warehouse/dashboard/004","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1762.3333740234375,"y":4935,"wires":[]},{"id":"884fcb5d.a2c2","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/004","topic":"eshipping/warehouse/dashboard/004","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1477.3333740234375,"y":4590,"wires":[]},{"id":"bfe2ff56.63505","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/004","topic":"eshipping/warehouse/dashboard/004","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1537.3333740234375,"y":4320,"wires":[]},{"id":"88c9ee68.56db4","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/004/end","topic":"eshipping/vehicle/004/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1207.3333740234375,"y":4510,"wires":[]},{"id":"f660e413.e5386","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/vehicle/004/end","topic":"eshipping/vehicle/004/end","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1227.3333740234375,"y":4790,"wires":[]},{"id":"d1060352.f936f8","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"msg.payload = {};\nmsg.payload = \"FRAGILE \" + 0 + \"_\" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":615,"wires":[["6eb232a0.28fc9c"]]},{"id":"17d28e63.91b0ea","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"msg.payload = {};\n\nmsg.payload = \"STANDARD \" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":330,"wires":[["5109e640.b09e88"]]},{"id":"f00b0854.762c78","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"msg.payload = {};\nmsg.payload =\"FRIGO \" + 0 + \"_\" + 0 + \"_\" + 0 + \"_false_\" + 0; \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1465,"y":930,"wires":[["e3a25bba.06771"]]},{"id":"c7bfa032.8be6c8","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"msg.payload = {};\n\nmsg.payload = \"STANDARD \" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1219,"y":1293,"wires":[["16f28de5.e86a82"]]},{"id":"16823135.ece01f","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"msg.payload = {};\n\nmsg.payload = \"STANDARD \" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1208,"y":2311,"wires":[["1e7bc0aa.ee825f"]]},{"id":"ff0ee25a.4e97d8","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"msg.payload = {};\n\nmsg.payload = \"STANDARD \" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1227,"y":3290,"wires":[["92a1800b.1acd78"]]},{"id":"370327bf.ce7f6","type":"function","z":"d69f9491.4eb9a","name":"set_tmp_vib_null","func":"msg.payload = {};\n\nmsg.payload = \"STANDARD \" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1252.3333740234375,"y":4365,"wires":[["bfe2ff56.63505"]]},{"id":"7529391d.8de92","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"msg.payload = {};\nmsg.payload = \"FRAGILE \" + 0 + \"_\" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1164,"y":1578,"wires":[["e99472e0.efd9a"]]},{"id":"a2e4c612.d6f62","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"msg.payload = {};\nmsg.payload = \"FRAGILE \" + 0 + \"_\" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1168,"y":2596,"wires":[["e985bd56.490608"]]},{"id":"dcd68188.d1b428","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"msg.payload = {};\nmsg.payload = \"FRAGILE \" + 0 + \"_\" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1172,"y":3575,"wires":[["df7576bb.20a9"]]},{"id":"4ea50e.097412f4","type":"function","z":"d69f9491.4eb9a","name":"set_dashboard","func":"msg.payload = {};\nmsg.payload = \"FRAGILE \" + 0 + \"_\" + 0 + \"_\" + 0;\nreturn msg;","outputs":1,"noerr":0,"x":1197.3333740234375,"y":4650,"wires":[["884fcb5d.a2c2"]]},{"id":"b8fe22cc.2a6318","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"msg.payload = {};\nmsg.payload =\"FRIGO \" + 0 + \"_\" + 0 + \"_\" + 0 + \"_false_\" + 0; \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1469,"y":1908,"wires":[["305bc97.cfecf36"]]},{"id":"eccd47cf.28bb3","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"var tmp = msg.payload.temp;\nvar hum = msg.payload.hum;\nvar alarm = msg.payload.alarmTmp;\nvar lat = msg.payload.lat;\nvar long = msg.payload.long;\nmsg.payload = {};\n\nif(alarm){\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_true_\" + hum; \n}else{\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_false_\" + hum; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1469,"y":1863,"wires":[["305bc97.cfecf36"]]},{"id":"c97614b0.3c2ed8","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"msg.payload = {};\nmsg.payload =\"FRIGO \" + 0 + \"_\" + 0 + \"_\" + 0 + \"_false_\" + 0; \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1473,"y":2911,"wires":[["90f5eb61.8bba88"]]},{"id":"b6a07d99.d0c03","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"var tmp = msg.payload.temp;\nvar hum = msg.payload.hum;\nvar alarm = msg.payload.alarmTmp;\nvar lat = msg.payload.lat;\nvar long = msg.payload.long;\nmsg.payload = {};\n\nif(alarm){\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_true_\" + hum; \n}else{\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_false_\" + hum; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1473,"y":2866,"wires":[["90f5eb61.8bba88"]]},{"id":"b42250c8.b548f","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"msg.payload = {};\nmsg.payload =\"FRIGO \" + 0 + \"_\" + 0 + \"_\" + 0 + \"_false_\" + 0; \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1477,"y":3905,"wires":[["31f3c639.65edd2"]]},{"id":"4b336694.e147b8","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"var tmp = msg.payload.temp;\nvar hum = msg.payload.hum;\nvar alarm = msg.payload.alarmTmp;\nvar lat = msg.payload.lat;\nvar long = msg.payload.long;\nmsg.payload = {};\n\nif(alarm){\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_true_\" + hum; \n}else{\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_false_\" + hum; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1477,"y":3860,"wires":[["31f3c639.65edd2"]]},{"id":"de5f80ff.35fb1","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"msg.payload = {};\nmsg.payload =\"FRIGO \" + 0 + \"_\" + 0 + \"_\" + 0 + \"_false_\" + 0; \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1487.3333740234375,"y":4980,"wires":[["350984fb.51e7f4"]]},{"id":"df4513d1.9bf0a8","type":"function","z":"d69f9491.4eb9a","name":"set_frigo_dashboard","func":"var tmp = msg.payload.temp;\nvar hum = msg.payload.hum;\nvar alarm = msg.payload.alarmTmp;\nvar lat = msg.payload.lat;\nvar long = msg.payload.long;\nmsg.payload = {};\n\nif(alarm){\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_true_\" + hum; \n}else{\n    msg.payload =\"FRIGO \" + lat + \"_\" + long + \"_\" + tmp + \"_false_\" + hum; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1487.3333740234375,"y":4935,"wires":[["350984fb.51e7f4"]]},{"id":"4dad2d00.f41f2c","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_000_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1158.2857666015625,"y":527.6113891601562,"wires":[["1f0a25ce.57e392"]]},{"id":"27d4d7cf.b56a3","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":937.142822265625,"y":414.0113525390625,"wires":[["1f0a25ce.57e392"]]},{"id":"1f0a25ce.57e392","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1541,"y":415,"wires":[]},{"id":"94ada15b.0a01c","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":941,"y":121,"wires":[["890690e4.68af28"]]},{"id":"a9f475b1.b1cc3","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_000_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1185.1429443359375,"y":237.60003662109375,"wires":[["890690e4.68af28"]]},{"id":"890690e4.68af28","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1557.857177734375,"y":121.9886474609375,"wires":[]},{"id":"f9afc0c3.ad563","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":981,"y":686,"wires":[["f83ab469.1980a8"]]},{"id":"f22f2681.26091","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_000_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1202.1429443359375,"y":799.6000366210938,"wires":[["f83ab469.1980a8"]]},{"id":"f83ab469.1980a8","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1584.857177734375,"y":686.9886474609375,"wires":[]},{"id":"255ed649.e3e3ea","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":952,"y":1113,"wires":[["f1166d24.34bc"]]},{"id":"f389de8f.e52f5","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_001_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1222.1429443359375,"y":1208.5999755859375,"wires":[["f1166d24.34bc"]]},{"id":"f1166d24.34bc","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1529.857177734375,"y":1116.9886474609375,"wires":[]},{"id":"43ed5330.80dff4","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":939,"y":1395,"wires":[["fde41bec.f723c"]]},{"id":"41802611.ab9638","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_001_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1209.1429443359375,"y":1490.5999755859375,"wires":[["fde41bec.f723c"]]},{"id":"fde41bec.f723c","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1502.857177734375,"y":1395.9886474609375,"wires":[]},{"id":"538e3b0b.e9fcec","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":955,"y":1675,"wires":[["f55c7bd.4f68b08"]]},{"id":"d593ecf8.f23158","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_001_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1225.1429443359375,"y":1770.5999755859375,"wires":[["f55c7bd.4f68b08"]]},{"id":"f55c7bd.4f68b08","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1532.857177734375,"y":1678.9886474609375,"wires":[]},{"id":"be3a4eb8.0b864","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":942,"y":2122,"wires":[["b2541e18.454db8"]]},{"id":"5372cb89.d95d0c","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_002_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1212.1429443359375,"y":2217.5999755859375,"wires":[["b2541e18.454db8"]]},{"id":"b2541e18.454db8","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1519.857177734375,"y":2125.9886474609375,"wires":[]},{"id":"394cb6b.6017d4a","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1530,"y":2404,"wires":[]},{"id":"5c9ff727.f7241","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_002_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1222.2857666015625,"y":2495.611328125,"wires":[["394cb6b.6017d4a"]]},{"id":"c6a89a83.0aeec8","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":952.142822265625,"y":2400.0113525390625,"wires":[["394cb6b.6017d4a"]]},{"id":"c3744302.6288b","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1542,"y":2684,"wires":[]},{"id":"3d437a9f.af124e","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_002_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1234.2857666015625,"y":2775.611328125,"wires":[["c3744302.6288b"]]},{"id":"9cf020d1.21c958","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":964.142822265625,"y":2680.0113525390625,"wires":[["c3744302.6288b"]]},{"id":"74874b4c.4e8fdc","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1536,"y":3115,"wires":[]},{"id":"c54baf2a.7966","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_003_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1228.2857666015625,"y":3206.611328125,"wires":[["74874b4c.4e8fdc"]]},{"id":"aab4804b.dcca9","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":958.142822265625,"y":3111.0113525390625,"wires":[["74874b4c.4e8fdc"]]},{"id":"beaebcde.96838","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1516,"y":3385,"wires":[]},{"id":"6f345136.8fadd","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_003_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1208.2857666015625,"y":3476.611328125,"wires":[["beaebcde.96838"]]},{"id":"4fe3ee01.c4cce8","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":938.142822265625,"y":3381.0113525390625,"wires":[["beaebcde.96838"]]},{"id":"7a84cf4c.3c25b8","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":957,"y":3665,"wires":[["c9aab12a.acfaf8"]]},{"id":"2b2dcdbd.38c972","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_003_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1227.1429443359375,"y":3760.5999755859375,"wires":[["c9aab12a.acfaf8"]]},{"id":"c9aab12a.acfaf8","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1534.857177734375,"y":3668.9886474609375,"wires":[]},{"id":"4224a228.e8273c","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":976.3333740234375,"y":4180,"wires":[["42abd12a.f53d68"]]},{"id":"93305d09.793c18","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_004_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1246.476318359375,"y":4275.5999755859375,"wires":[["42abd12a.f53d68"]]},{"id":"42abd12a.f53d68","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1554.1905517578125,"y":4183.9886474609375,"wires":[]},{"id":"2d413b25.9eea3c","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":969.3333740234375,"y":4456,"wires":[["c0c639b0.763958"]]},{"id":"7733446d.f35824","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_004_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1239.476318359375,"y":4551.5999755859375,"wires":[["c0c639b0.763958"]]},{"id":"c0c639b0.763958","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1547.1905517578125,"y":4459.9886474609375,"wires":[]},{"id":"7f5b48d3.636458","type":"function","z":"d69f9491.4eb9a","name":"set_map_delivered","func":"var message = msg.payload.message.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"END_\" + message[0] + \"_\" + message[1];\nreturn msg;","outputs":1,"noerr":0,"x":979.3333740234375,"y":4747,"wires":[["71157bf1.704cbc"]]},{"id":"971707d3.de443","type":"function","z":"d69f9491.4eb9a","name":"set_map","func":"var data = msg.payload.message.split(\"_\");\nmsg.payload = {};\nvar lat = data[0];\nvar long = data[1];\nmsg.payload = {};\nmsg.payload = \"MOVE_004_\" + lat + \"_\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":1249.476318359375,"y":4842.5999755859375,"wires":[["71157bf1.704cbc"]]},{"id":"71157bf1.704cbc","type":"mqtt out","z":"d69f9491.4eb9a","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","retain":"","broker":"3f6522f2.12e6ce","x":1557.1905517578125,"y":4750.9886474609375,"wires":[]},{"id":"7003496d.c81638","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthRetain":"false","birthPayload":"start","willTopic":"test","willQos":"0","willRetain":"false","willPayload":""},{"id":"3f6522f2.12e6ce","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""}]