node-red/single_flows/vehicle_simulation_nodes.txt
[{"id":"6d3bb349.57c804","type":"subflow","name":"Check find DB error","info":"","in":[{"x":220,"y":160,"wires":[{"id":"9fb57aef.fb13d"}]}],"out":[{"x":580,"y":260,"wires":[{"id":"8a67216c.9973d8","port":0}]},{"x":580,"y":140,"wires":[{"id":"9fb57aef.fb13d","port":0}]}]},{"id":"9fb57aef.fb13d","type":"switch","z":"6d3bb349.57c804","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"istype","v":"array","vt":"array"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":180,"wires":[["cc54491a.66326"],["8a67216c.9973d8"]]},{"id":"8a67216c.9973d8","type":"function","z":"6d3bb349.57c804","name":"get_first","func":"var array = msg.payload;\nvar jsonObject = array[0];\n\nmsg.payload = {};\nmsg.payload = jsonObject;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[[]]},{"id":"cc54491a.66326","type":"mqtt out","z":"6d3bb349.57c804","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"fe07be1.3b39a4","x":631,"y":81,"wires":[]},{"id":"fe07be1.3b39a4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"4833abe1.d3064c","type":"subflow","name":"Get waypoints","info":"","in":[{"x":53,"y":95,"wires":[{"id":"551a1556.de6eac"}]}],"out":[{"x":950,"y":94,"wires":[{"id":"4a0201dc.49be8","port":0}]}]},{"id":"551a1556.de6eac","type":"function","z":"4833abe1.d3064c","name":"read_message","func":"var string = msg.payload;\nvar array = string.split(\"###\");\nvar productInfo = array[1];\nvar arrayProduct = productInfo.split(\"_\");\n\nmsg.payload = {};\nmsg.payload.idVehicle = array[0];\nmsg.payload.productID = arrayProduct[0];\nmsg.payload.productDescription = arrayProduct[1];\nmsg.payload.productDestination = arrayProduct[2];\nmsg.payload.productType = arrayProduct[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":94,"wires":[["da27b6e1.fba718","4a0201dc.49be8"]]},{"id":"4a0201dc.49be8","type":"join","z":"4833abe1.d3064c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":822,"y":94,"wires":[[]]},{"id":"c83801b9.2079a","type":"function","z":"4833abe1.d3064c","name":"get_waypoints","func":"var object = msg.payload;\nvar waypoints = object.waypoints;\n\nmsg.payload = {};\nmsg.payload.waypoints = waypoints;\n\nreturn msg;","outputs":1,"noerr":0,"x":592,"y":134,"wires":[["4a0201dc.49be8"]]},{"id":"932c40ff.824848","type":"function","z":"4833abe1.d3064c","name":"read_answer","func":"var array = msg.payload;\n\nif(array.length === 0){\n        msg.payload = {};\n        msg.payload = \"ERROR destination_not_found\";\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":274,"wires":[["8a570c51.663998"]]},{"id":"ee8dd4ec.ddfe4","type":"mongodb3 in","z":"4833abe1.d3064c","service":"_ext_","configNode":"aa18ea08.cd43e","name":"E-Shipping DB","collection":"travels_test","operation":"find.toArray","x":362,"y":214,"wires":[["932c40ff.824848"]]},{"id":"da27b6e1.fba718","type":"function","z":"4833abe1.d3064c","name":"find_destination_query","func":"var destination = msg.payload.productDestination;\n\nmsg.operation=\"find.toArray\";\nmsg.payload={\"destination\" : destination};\n\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":154,"wires":[["ee8dd4ec.ddfe4"]]},{"id":"8a570c51.663998","type":"subflow:6d3bb349.57c804","z":"4833abe1.d3064c","name":"","x":562,"y":334,"wires":[["c83801b9.2079a"],["4a0201dc.49be8"]]},{"id":"aa18ea08.cd43e","type":"mongodb3","z":"","uri":"mongodb://localhost/eshipping","name":"MongoLocal","options":"","parallelism":"-1"},{"id":"e3fa016d.74e958","type":"subflow","name":"Check Vehicle Error ","info":"","in":[{"x":50,"y":30,"wires":[{"id":"d87d9b00.345e58"}]}],"out":[{"x":740,"y":120,"wires":[{"id":"5da8145b.b5337c","port":"0"}]},{"x":740,"y":195,"wires":[{"id":"5da8145b.b5337c","port":1}]}]},{"id":"c103d728.e7e1","type":"mqtt out","z":"e3fa016d.74e958","name":"eshipping/vehicles/error","topic":"eshipping/vehicles/error","qos":"2","retain":"","broker":"6cb7127b.03b4ec","x":790,"y":300,"wires":[]},{"id":"7280d9e6.270cc","type":"function","z":"e3fa016d.74e958","name":"Manage Error","func":"msg.payload = msg.payload.message; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["c103d728.e7e1"]]},{"id":"5da8145b.b5337c","type":"switch","z":"e3fa016d.74e958","name":"","property":"payload.answer","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"DELIVERED","vt":"str"},{"t":"eq","v":"ERROR","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":180,"wires":[[],[],["7280d9e6.270cc"]]},{"id":"d87d9b00.345e58","type":"function","z":"e3fa016d.74e958","name":"Check","func":"var string = msg.payload.toString(\"utf8\");\nvar splitted = string.split(\" \");\nmsg.payload = {};\nmsg.payload.answer = splitted[0];\nmsg.payload.message = splitted[1];//stringa lat_long\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":180,"wires":[["5da8145b.b5337c"]]},{"id":"6cb7127b.03b4ec","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"dd7a4174.eefb1","type":"mqtt in","z":"b5a09439.f1cdd","name":"eshipping/vehicle/000/start","topic":"eshipping/vehicle/000/start","qos":"2","broker":"ad8c7fa2.7aea6","x":130,"y":100,"wires":[["415b85da.9b51ec"]]},{"id":"6bec69ba.80bb8","type":"function","z":"b5a09439.f1cdd","name":"check_msg","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\n\nvar array = msg.payload.waypoints;\n\nif(Array.isArray(array)){\n    msg.payload.loopNumber = array.length;\n    msg.payload.counter = 0;\n}else{\n    msg.payload = {};\n    msg.payload.ProductType = \"ERROR\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["43436650.e3f238"]]},{"id":"43436650.e3f238","type":"switch","z":"b5a09439.f1cdd","name":"check_error","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":360,"wires":[["ee9bdde.f2cc0a"],["dcc2ca9e.e63248"],["1f1beafe.4a044d"],["8f8d4b77.3f5128"]]},{"id":"f8c6ab9c.f63f28","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":200,"wires":[["e066ed7b.716d2","80a517b.74988e8"],["94636866.bfb9f8"]]},{"id":"e066ed7b.716d2","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":120,"wires":[["19fe7ce8.08d6c3"]]},{"id":"19fe7ce8.08d6c3","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":120,"wires":[["f8c6ab9c.f63f28"]]},{"id":"80a517b.74988e8","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"STANDARD SET \" + latitude + \" \" + longitude + \" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":180,"wires":[["869e8255.7cddb8"]]},{"id":"94636866.bfb9f8","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":220,"wires":[["efbbc059.4c1058"]]},{"id":"efbbc059.4c1058","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"END","x":1510,"y":220,"wires":[["71ad8e4d.313c1"]]},{"id":"869e8255.7cddb8","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"STANDARD SET","x":1510,"y":180,"wires":[["ee8b10.2cc0c4f"]]},{"id":"dcc2ca9e.e63248","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":200,"wires":[["f8c6ab9c.f63f28"]]},{"id":"df71c77.e3ece38","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":360,"wires":[["c9ce5c4b.3a4f4"]]},{"id":"c9ce5c4b.3a4f4","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1300,"y":360,"wires":[["37dbbe0b.acfa12","58f33146.446dd"],["7eb68797.472a78"]]},{"id":"7eb68797.472a78","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":380,"wires":[["c0ab9cc0.cc5b9"]]},{"id":"58f33146.446dd","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"FRAGILE SET \" + latitude + \" \" + longitude + \" \"+msg.payload.vibrationDetected +\" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":340,"wires":[["4902f2cf.d8d63c"]]},{"id":"ee240393.daba58","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":280,"wires":[["c9ce5c4b.3a4f4"]]},{"id":"37dbbe0b.acfa12","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\nmsg.payload.vibrationDetected = Math.floor((Math.random() * 5000) + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":280,"wires":[["ee240393.daba58"]]},{"id":"1f1beafe.4a044d","type":"function","z":"b5a09439.f1cdd","name":"init_vibration","func":"msg.payload.vibrationDetected = 0;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":360,"wires":[["df71c77.e3ece38"]]},{"id":"4902f2cf.d8d63c","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"FRAGILE SET","x":1680,"y":340,"wires":[["9bcbd68b.c683a"]]},{"id":"c0ab9cc0.cc5b9","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"END","x":1670,"y":380,"wires":[["99562690.c8fcd"]]},{"id":"8f8d4b77.3f5128","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":600,"wires":[["d3ca78c1.a00c38"]]},{"id":"d3ca78c1.a00c38","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":600,"wires":[["980506ad.9d7938","249b3686.6b948a"],["b4310b58.dcceb8"]]},{"id":"980506ad.9d7938","type":"function","z":"b5a09439.f1cdd","name":"store_info","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":520,"wires":[["33a9ad4c.d28cb2"]]},{"id":"249b3686.6b948a","type":"function","z":"b5a09439.f1cdd","name":"get_sim","func":"msg.payload = {};\nmsg.payload = \"FRIGO GETSIM \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":600,"wires":[["c919a387.9f223"]]},{"id":"c919a387.9f223","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"FRIGO GET","x":1410,"y":600,"wires":[["b04c3eaf.325b58"]]},{"id":"66368c2a.8ba11c","type":"function","z":"b5a09439.f1cdd","name":"Check","func":"var info = msg.payload.message.split(\"_\"); //frigo_dehum_temp_hum\n\nmsg.payload = {};\n\nvar switchWho;\n\nif(info[0] == \"true\" && info[1] == \"true\"){\n    \n    switchWho = 1;\n    \n}else if(info[0] == \"true\" && info[1] == \"false\"){\n    \n    switchWho = 2;\n    \n}else if(info[0] == \"false\" && info[1] == \"true\"){\n    \n    switchWho = 3;\n    \n}else if(info[0] == \"false\" && info[1] == \"false\"){\n    \n    switchWho = 4;\n    \n}\n\nmsg.payload.tmp = info[2];\nmsg.payload.hum = info[3];\nmsg.payload.switchWho = switchWho;\n\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":660,"wires":[["e09d11c6.44057"]]},{"id":"e09d11c6.44057","type":"switch","z":"b5a09439.f1cdd","name":"","property":"payload.switchWho","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1730,"y":760,"wires":[["45b7a067.ded98"],["397ddb53.64d28c"],["462b467d.3f6e88"],["90aa507.13a693"]]},{"id":"45b7a067.ded98","type":"function","z":"b5a09439.f1cdd","name":"dec_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp - 1;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":700,"wires":[["33a9ad4c.d28cb2"]]},{"id":"397ddb53.64d28c","type":"function","z":"b5a09439.f1cdd","name":"dec_tmp","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp -1;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":740,"wires":[["33a9ad4c.d28cb2"]]},{"id":"462b467d.3f6e88","type":"function","z":"b5a09439.f1cdd","name":"dec_hum","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 3);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":780,"wires":[["33a9ad4c.d28cb2"]]},{"id":"90aa507.13a693","type":"function","z":"b5a09439.f1cdd","name":"inc_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 4);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":820,"wires":[["33a9ad4c.d28cb2"]]},{"id":"33a9ad4c.d28cb2","type":"join","z":"b5a09439.f1cdd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2110,"y":700,"wires":[["adbe858f.770ff"]]},{"id":"adbe858f.770ff","type":"function","z":"b5a09439.f1cdd","name":"merge_join","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":620,"wires":[["17d71585.5ff842","75eed599.e40b24"]]},{"id":"17d71585.5ff842","type":"function","z":"b5a09439.f1cdd","name":"tcp_command","func":"var counter = msg.payload.counter;\nmsg.payload = \"FRIGO SETSIM \" + msg.payload.waypoints[counter].latitude + \" \" + msg.payload.waypoints[counter].longitude + \" \" + msg.payload.tmp + \" \" + msg.payload.hum +\" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":2300,"y":600,"wires":[["d48b52e1.79c84"]]},{"id":"d48b52e1.79c84","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"FRIGO SET","x":2490,"y":620,"wires":[["5240578c.6d9dc8"]]},{"id":"75eed599.e40b24","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":440,"wires":[["3818e3d4.c0f094"]]},{"id":"3818e3d4.c0f094","type":"function","z":"b5a09439.f1cdd","name":"clear_payload","func":"var waypoints = msg.payload.waypoints;\nvar loopNumber = msg.payload.loopNumber;\nvar counter = msg.payload.counter;\nvar productID = msg.payload.productID\n\nmsg.payload = {};\nmsg.payload.waypoints = waypoints;\nmsg.payload.loopNumber = loopNumber;\nmsg.payload.counter = counter+1;\nmsg.payload.productID = productID;\n\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":440,"wires":[["d3ca78c1.a00c38"]]},{"id":"5240578c.6d9dc8","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":2700,"y":620,"wires":[[],[]]},{"id":"b4310b58.dcceb8","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":700,"wires":[["b5f44dff.e2015"]]},{"id":"b5f44dff.e2015","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9090","out":"char","splitc":"\\n","name":"END","x":1290,"y":700,"wires":[["fa664126.eab148"]]},{"id":"b04c3eaf.325b58","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1580,"y":640,"wires":[["66368c2a.8ba11c"],[]]},{"id":"fa664126.eab148","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1500,"y":720,"wires":[[],[]]},{"id":"ee8b10.2cc0c4f","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1720,"y":180,"wires":[[],[]]},{"id":"71ad8e4d.313c1","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1720,"y":220,"wires":[[],[]]},{"id":"9bcbd68b.c683a","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1880,"y":340,"wires":[[],[]]},{"id":"99562690.c8fcd","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1880,"y":380,"wires":[[],[]]},{"id":"a2007916.781838","type":"mqtt in","z":"b5a09439.f1cdd","name":"eshipping/vehicle/001/start","topic":"eshipping/vehicle/001/start","qos":"2","broker":"ad8c7fa2.7aea6","x":122.857177734375,"y":917.1428833007812,"wires":[["89132086.26eec"]]},{"id":"c70c3716.7b9448","type":"function","z":"b5a09439.f1cdd","name":"check_msg","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\n\nvar array = msg.payload.waypoints;\n\nif(Array.isArray(array)){\n    msg.payload.loopNumber = array.length;\n    msg.payload.counter = 0;\n}else{\n    msg.payload = {};\n    msg.payload.ProductType = \"ERROR\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":541.333251953125,"y":918.666748046875,"wires":[["7a8af38c.a9921c"]]},{"id":"7a8af38c.a9921c","type":"switch","z":"b5a09439.f1cdd","name":"check_error","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":663.333251953125,"y":1176.6666870117188,"wires":[["efb04dec.eddce8"],["39b5c6b2.3952da"],["28615936.20d2d6"],["b6cea11b.ff9968"]]},{"id":"482ba786.c140f","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1113.333251953125,"y":1016.6666870117188,"wires":[["21fae97.5daf596","d71197c8.98462"],["f717510a.f7b3d8"]]},{"id":"21fae97.5daf596","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":1043.333251953125,"y":936.6666870117188,"wires":[["7d718d3d.b38934"]]},{"id":"7d718d3d.b38934","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1213.333251953125,"y":936.6666870117188,"wires":[["482ba786.c140f"]]},{"id":"d71197c8.98462","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"STANDARD SET \" + latitude + \" \" + longitude + \" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1353.333251953125,"y":996.6666870117188,"wires":[["37fd3c0b.a6b5b4"]]},{"id":"f717510a.f7b3d8","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1353.333251953125,"y":1036.6666870117188,"wires":[["2484ed80.02a6c2"]]},{"id":"2484ed80.02a6c2","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"END","x":1523.333251953125,"y":1036.6666870117188,"wires":[["31c6181d.251958"]]},{"id":"37fd3c0b.a6b5b4","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"STANDARD SET","x":1523.333251953125,"y":996.6666870117188,"wires":[["55e71ab8.783b74"]]},{"id":"39b5c6b2.3952da","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":883.333251953125,"y":1016.6666870117188,"wires":[["482ba786.c140f"]]},{"id":"f4d362ba.6048b8","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1103.333251953125,"y":1176.6666870117188,"wires":[["7e0f2c68.378c24"]]},{"id":"7e0f2c68.378c24","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1313.333251953125,"y":1176.6666870117188,"wires":[["c27c0c09.68c118","a2a44fd0.d4da6"],["49d500c9.25267"]]},{"id":"49d500c9.25267","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1533.333251953125,"y":1196.6666870117188,"wires":[["ed22f271.74fee8"]]},{"id":"a2a44fd0.d4da6","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"FRAGILE SET \" + latitude + \" \" + longitude + \" \"+msg.payload.vibrationDetected +\" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1533.333251953125,"y":1156.6666870117188,"wires":[["afa4f4d5.7d6ac8"]]},{"id":"bc0c19ef.a023d","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1413.333251953125,"y":1096.6666870117188,"wires":[["7e0f2c68.378c24"]]},{"id":"c27c0c09.68c118","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\nmsg.payload.vibrationDetected = Math.floor((Math.random() * 5000) + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1223.333251953125,"y":1096.6666870117188,"wires":[["bc0c19ef.a023d"]]},{"id":"28615936.20d2d6","type":"function","z":"b5a09439.f1cdd","name":"init_vibration","func":"msg.payload.vibrationDetected = 0;\nreturn msg;","outputs":1,"noerr":0,"x":863.333251953125,"y":1176.6666870117188,"wires":[["f4d362ba.6048b8"]]},{"id":"afa4f4d5.7d6ac8","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"FRAGILE SET","x":1693.333251953125,"y":1156.6666870117188,"wires":[["7f63d518.acdc8c"]]},{"id":"ed22f271.74fee8","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"END","x":1683.333251953125,"y":1196.6666870117188,"wires":[["a9468791.60b548"]]},{"id":"b6cea11b.ff9968","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":863.333251953125,"y":1416.6666870117188,"wires":[["d6a8749a.e0a33"]]},{"id":"d6a8749a.e0a33","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1073.333251953125,"y":1416.6666870117188,"wires":[["47570ef0.d7f178","a16405fd.8a0618"],["89ef0cd9.e4d428"]]},{"id":"47570ef0.d7f178","type":"function","z":"b5a09439.f1cdd","name":"store_info","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1413.333251953125,"y":1336.6666870117188,"wires":[["7ff00297.e32c0c"]]},{"id":"a16405fd.8a0618","type":"function","z":"b5a09439.f1cdd","name":"get_sim","func":"msg.payload = {};\nmsg.payload = \"FRIGO GETSIM \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1273.333251953125,"y":1416.6666870117188,"wires":[["a8004627.c7773"]]},{"id":"a8004627.c7773","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"FRIGO GET","x":1423.333251953125,"y":1416.6666870117188,"wires":[["6c373e2e.7e9018"]]},{"id":"c1c049fb.a2c81","type":"function","z":"b5a09439.f1cdd","name":"Check","func":"var info = msg.payload.message.split(\"_\"); //frigo_dehum_temp_hum\n\nmsg.payload = {};\n\nvar switchWho;\n\nif(info[0] == \"true\" && info[1] == \"true\"){\n    \n    switchWho = 1;\n    \n}else if(info[0] == \"true\" && info[1] == \"false\"){\n    \n    switchWho = 2;\n    \n}else if(info[0] == \"false\" && info[1] == \"true\"){\n    \n    switchWho = 3;\n    \n}else if(info[0] == \"false\" && info[1] == \"false\"){\n    \n    switchWho = 4;\n    \n}\n\nmsg.payload.tmp = info[2];\nmsg.payload.hum = info[3];\nmsg.payload.switchWho = switchWho;\n\nreturn msg;","outputs":1,"noerr":0,"x":1803.333251953125,"y":1476.6666870117188,"wires":[["b7763d2b.a0b388"]]},{"id":"b7763d2b.a0b388","type":"switch","z":"b5a09439.f1cdd","name":"","property":"payload.switchWho","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1743.333251953125,"y":1576.6666870117188,"wires":[["be364767.95fe98"],["7389fb04.2724ec"],["f9b7c32b.8cbef"],["d02a1024.7fb4a8"]]},{"id":"be364767.95fe98","type":"function","z":"b5a09439.f1cdd","name":"dec_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp - 1;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1933.333251953125,"y":1516.6666870117188,"wires":[["7ff00297.e32c0c"]]},{"id":"7389fb04.2724ec","type":"function","z":"b5a09439.f1cdd","name":"dec_tmp","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp -1;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1933.333251953125,"y":1556.6666870117188,"wires":[["7ff00297.e32c0c"]]},{"id":"f9b7c32b.8cbef","type":"function","z":"b5a09439.f1cdd","name":"dec_hum","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 3);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1933.333251953125,"y":1596.6666870117188,"wires":[["7ff00297.e32c0c"]]},{"id":"d02a1024.7fb4a8","type":"function","z":"b5a09439.f1cdd","name":"inc_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 4);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1923.333251953125,"y":1636.6666870117188,"wires":[["7ff00297.e32c0c"]]},{"id":"7ff00297.e32c0c","type":"join","z":"b5a09439.f1cdd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2123.333251953125,"y":1516.6666870117188,"wires":[["9e9b27e0.805ed8"]]},{"id":"9e9b27e0.805ed8","type":"function","z":"b5a09439.f1cdd","name":"merge_join","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\nreturn msg;","outputs":1,"noerr":0,"x":2123.333251953125,"y":1436.6666870117188,"wires":[["ad5cffbe.ff87b","eb599d68.9396a8"]]},{"id":"ad5cffbe.ff87b","type":"function","z":"b5a09439.f1cdd","name":"tcp_command","func":"var counter = msg.payload.counter;\nmsg.payload = \"FRIGO SETSIM \" + msg.payload.waypoints[counter].latitude + \" \" + msg.payload.waypoints[counter].longitude + \" \" + msg.payload.tmp + \" \" + msg.payload.hum +\" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":2313.333251953125,"y":1416.6666870117188,"wires":[["34214d31.1b1d12"]]},{"id":"34214d31.1b1d12","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"FRIGO SET","x":2503.333251953125,"y":1436.6666870117188,"wires":[["b9df8e7d.a7a07"]]},{"id":"eb599d68.9396a8","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1253.333251953125,"y":1256.6666870117188,"wires":[["91010e40.2d6b38"]]},{"id":"91010e40.2d6b38","type":"function","z":"b5a09439.f1cdd","name":"clear_payload","func":"var waypoints = msg.payload.waypoints;\nvar loopNumber = msg.payload.loopNumber;\nvar counter = msg.payload.counter;\nvar productID = msg.payload.productID;\n\nmsg.payload = {};\nmsg.payload.waypoints = waypoints;\nmsg.payload.loopNumber = loopNumber;\nmsg.payload.counter = counter+1;\nmsg.payload.productID = productID;\n\nreturn msg;","outputs":1,"noerr":0,"x":1413.333251953125,"y":1256.6666870117188,"wires":[["d6a8749a.e0a33"]]},{"id":"b9df8e7d.a7a07","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":2713.333251953125,"y":1436.6666870117188,"wires":[[],[]]},{"id":"89ef0cd9.e4d428","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1173.333251953125,"y":1516.6666870117188,"wires":[["72142532.53be84"]]},{"id":"72142532.53be84","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9091","out":"char","splitc":"\\n","name":"END","x":1303.333251953125,"y":1516.6666870117188,"wires":[["a95114ea.ea8d48"]]},{"id":"6c373e2e.7e9018","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1593.333251953125,"y":1456.6666870117188,"wires":[["c1c049fb.a2c81"],[]]},{"id":"a95114ea.ea8d48","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1513.333251953125,"y":1536.6666870117188,"wires":[[],[]]},{"id":"55e71ab8.783b74","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1733.333251953125,"y":996.6666870117188,"wires":[[],[]]},{"id":"31c6181d.251958","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1733.333251953125,"y":1036.6666870117188,"wires":[[],[]]},{"id":"7f63d518.acdc8c","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1893.333251953125,"y":1156.6666870117188,"wires":[[],[]]},{"id":"a9468791.60b548","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1893.333251953125,"y":1196.6666870117188,"wires":[[],[]]},{"id":"3e2a5196.f4f56e","type":"mqtt in","z":"b5a09439.f1cdd","name":"eshipping/vehicle/002/start","topic":"eshipping/vehicle/002/start","qos":"2","broker":"ad8c7fa2.7aea6","x":130,"y":1780,"wires":[["58d874eb.ed28b4"]]},{"id":"17154858.1a66a","type":"function","z":"b5a09439.f1cdd","name":"check_msg","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\n\nvar array = msg.payload.waypoints;\n\nif(Array.isArray(array)){\n    msg.payload.loopNumber = array.length;\n    msg.payload.counter = 0;\n}else{\n    msg.payload = {};\n    msg.payload.ProductType = \"ERROR\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":556.666748046875,"y":1779.9999389648438,"wires":[["ce618418.e747b"]]},{"id":"ce618418.e747b","type":"switch","z":"b5a09439.f1cdd","name":"check_error","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":656.666748046875,"y":2039.9999389648438,"wires":[["703baa80.3d1584"],["ffa9a39c.76a8f8"],["2bac9188.0e419e"],["b19db24b.e8355"]]},{"id":"e2b907f1.464a28","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1106.666748046875,"y":1879.9999389648438,"wires":[["8cfb26d7.63e2d8","1a12d114.a02ca7"],["d1b6dd45.e8ad08"]]},{"id":"8cfb26d7.63e2d8","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":1036.666748046875,"y":1799.9999389648438,"wires":[["a53e2a0b.1c26f"]]},{"id":"a53e2a0b.1c26f","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1206.666748046875,"y":1799.9999389648438,"wires":[["e2b907f1.464a28"]]},{"id":"1a12d114.a02ca7","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"STANDARD SET \" + latitude + \" \" + longitude + \" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1346.666748046875,"y":1859.9999389648438,"wires":[["dbd1de7a.cabc68"]]},{"id":"d1b6dd45.e8ad08","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1346.666748046875,"y":1899.9999389648438,"wires":[["50fdf1ff.49be78"]]},{"id":"50fdf1ff.49be78","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"END","x":1516.666748046875,"y":1899.9999389648438,"wires":[["b5a4de7f.f8e638"]]},{"id":"dbd1de7a.cabc68","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"STANDARD SET","x":1516.666748046875,"y":1859.9999389648438,"wires":[["b45f70bb.01275"]]},{"id":"ffa9a39c.76a8f8","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":876.666748046875,"y":1879.9999389648438,"wires":[["e2b907f1.464a28"]]},{"id":"12805991.4bf77e","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1096.666748046875,"y":2039.9999389648438,"wires":[["20db7afb.ca27a6"]]},{"id":"20db7afb.ca27a6","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1306.666748046875,"y":2039.9999389648438,"wires":[["9e8ffb8b.b7c948","9cc03b6d.58aa3"],["89a2522a.2ab8a"]]},{"id":"89a2522a.2ab8a","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1526.666748046875,"y":2059.9999389648438,"wires":[["2715843a.26d5ac"]]},{"id":"9cc03b6d.58aa3","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"FRAGILE SET \" + latitude + \" \" + longitude + \" \"+msg.payload.vibrationDetected +\" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1526.666748046875,"y":2019.9999389648438,"wires":[["16c808d6.efe0df"]]},{"id":"fef6d12a.9b0158","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1406.666748046875,"y":1959.9999389648438,"wires":[["20db7afb.ca27a6"]]},{"id":"9e8ffb8b.b7c948","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\nmsg.payload.vibrationDetected = Math.floor((Math.random() * 5000) + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1216.666748046875,"y":1959.9999389648438,"wires":[["fef6d12a.9b0158"]]},{"id":"2bac9188.0e419e","type":"function","z":"b5a09439.f1cdd","name":"init_vibration","func":"msg.payload.vibrationDetected = 0;\nreturn msg;","outputs":1,"noerr":0,"x":856.666748046875,"y":2039.9999389648438,"wires":[["12805991.4bf77e"]]},{"id":"16c808d6.efe0df","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"FRAGILE SET","x":1686.666748046875,"y":2019.9999389648438,"wires":[["e90eb33e.110d78"]]},{"id":"2715843a.26d5ac","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"END","x":1676.666748046875,"y":2059.9999389648438,"wires":[["729d8ef0.49e008"]]},{"id":"b19db24b.e8355","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":856.666748046875,"y":2279.9999389648438,"wires":[["e7f294e1.8e731"]]},{"id":"e7f294e1.8e731","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1066.666748046875,"y":2279.9999389648438,"wires":[["9f6c75d1.e667d8","ea3bf803.f84dc8"],["724c922.25c0eec"]]},{"id":"9f6c75d1.e667d8","type":"function","z":"b5a09439.f1cdd","name":"store_info","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1406.666748046875,"y":2199.9999389648438,"wires":[["df159699.c64528"]]},{"id":"ea3bf803.f84dc8","type":"function","z":"b5a09439.f1cdd","name":"get_sim","func":"msg.payload = {};\nmsg.payload = \"FRIGO GETSIM \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1266.666748046875,"y":2279.9999389648438,"wires":[["7525b2b4.a06104"]]},{"id":"7525b2b4.a06104","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"FRIGO GET","x":1416.666748046875,"y":2279.9999389648438,"wires":[["73b98559.dc3184"]]},{"id":"8d563816.c59de","type":"function","z":"b5a09439.f1cdd","name":"Check","func":"var info = msg.payload.message.split(\"_\"); //frigo_dehum_temp_hum\n\nmsg.payload = {};\n\nvar switchWho;\n\nif(info[0] == \"true\" && info[1] == \"true\"){\n    \n    switchWho = 1;\n    \n}else if(info[0] == \"true\" && info[1] == \"false\"){\n    \n    switchWho = 2;\n    \n}else if(info[0] == \"false\" && info[1] == \"true\"){\n    \n    switchWho = 3;\n    \n}else if(info[0] == \"false\" && info[1] == \"false\"){\n    \n    switchWho = 4;\n    \n}\n\nmsg.payload.tmp = info[2];\nmsg.payload.hum = info[3];\nmsg.payload.switchWho = switchWho;\n\nreturn msg;","outputs":1,"noerr":0,"x":1796.666748046875,"y":2339.9999389648438,"wires":[["1301d043.8756e"]]},{"id":"1301d043.8756e","type":"switch","z":"b5a09439.f1cdd","name":"","property":"payload.switchWho","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1736.666748046875,"y":2439.9999389648438,"wires":[["4d87424d.7fcae4"],["9b020113.f8a12"],["761482dd.1d506c"],["ef8cce88.f906a8"]]},{"id":"f786bef9.1e7d2","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1246.666748046875,"y":2119.9999389648438,"wires":[["7b3d561e.a110f"]]},{"id":"7b3d561e.a110f","type":"function","z":"b5a09439.f1cdd","name":"clear_payload","func":"var waypoints = msg.payload.waypoints;\nvar loopNumber = msg.payload.loopNumber;\nvar counter = msg.payload.counter;\nvar productID = msg.payload.productID;\n\nmsg.payload = {};\nmsg.payload.waypoints = waypoints;\nmsg.payload.loopNumber = loopNumber;\nmsg.payload.counter = counter+1;\nmsg.payload.productID = productID;\nreturn msg;","outputs":1,"noerr":0,"x":1406.666748046875,"y":2119.9999389648438,"wires":[["e7f294e1.8e731"]]},{"id":"724c922.25c0eec","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1166.666748046875,"y":2379.9999389648438,"wires":[["ebd07890.6b065"]]},{"id":"ebd07890.6b065","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"END","x":1296.666748046875,"y":2379.9999389648438,"wires":[["5522e9a1.20e3f"]]},{"id":"73b98559.dc3184","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1586.666748046875,"y":2319.9999389648438,"wires":[["8d563816.c59de"],[]]},{"id":"5522e9a1.20e3f","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1506.666748046875,"y":2399.9999389648438,"wires":[[],[]]},{"id":"b45f70bb.01275","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1726.666748046875,"y":1859.9999389648438,"wires":[[],[]]},{"id":"b5a4de7f.f8e638","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1726.666748046875,"y":1899.9999389648438,"wires":[[],[]]},{"id":"e90eb33e.110d78","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1886.666748046875,"y":2019.9999389648438,"wires":[[],[]]},{"id":"729d8ef0.49e008","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1886.666748046875,"y":2059.9999389648438,"wires":[[],[]]},{"id":"ed0e967d.122c48","type":"function","z":"b5a09439.f1cdd","name":"merge_join","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\nreturn msg;","outputs":1,"noerr":0,"x":2116.666748046875,"y":2299.9999389648438,"wires":[["e2eb1501.a7e6a8","f786bef9.1e7d2"]]},{"id":"df159699.c64528","type":"join","z":"b5a09439.f1cdd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2116.666748046875,"y":2379.9999389648438,"wires":[["ed0e967d.122c48"]]},{"id":"4d87424d.7fcae4","type":"function","z":"b5a09439.f1cdd","name":"dec_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp - 1;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1926.666748046875,"y":2379.9999389648438,"wires":[["df159699.c64528"]]},{"id":"9b020113.f8a12","type":"function","z":"b5a09439.f1cdd","name":"dec_tmp","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp -1;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1926.666748046875,"y":2419.9999389648438,"wires":[["df159699.c64528"]]},{"id":"761482dd.1d506c","type":"function","z":"b5a09439.f1cdd","name":"dec_hum","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 3);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1926.666748046875,"y":2459.9999389648438,"wires":[["df159699.c64528"]]},{"id":"ef8cce88.f906a8","type":"function","z":"b5a09439.f1cdd","name":"inc_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 4);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1916.666748046875,"y":2499.9999389648438,"wires":[["df159699.c64528"]]},{"id":"e2eb1501.a7e6a8","type":"function","z":"b5a09439.f1cdd","name":"tcp_command","func":"var counter = msg.payload.counter;\nmsg.payload = \"FRIGO SETSIM \" + msg.payload.waypoints[counter].latitude + \" \" + msg.payload.waypoints[counter].longitude + \" \" + msg.payload.tmp + \" \" + msg.payload.hum +\" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":2306.666748046875,"y":2279.9999389648438,"wires":[["a9b9f1b.a742a9"]]},{"id":"a9b9f1b.a742a9","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9092","out":"char","splitc":"\\n","name":"FRIGO SET","x":2496.666748046875,"y":2299.9999389648438,"wires":[["a92a8be1.111138"]]},{"id":"a92a8be1.111138","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":2706.666748046875,"y":2299.9999389648438,"wires":[[],[]]},{"id":"e6650f97.5392e","type":"mqtt in","z":"b5a09439.f1cdd","name":"eshipping/vehicle/003/start","topic":"eshipping/vehicle/003/start","qos":"2","broker":"ad8c7fa2.7aea6","x":125,"y":2655,"wires":[["56618e49.b53c28"]]},{"id":"a2938c2b.af862","type":"function","z":"b5a09439.f1cdd","name":"check_msg","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\n\nvar array = msg.payload.waypoints;\n\nif(Array.isArray(array)){\n    msg.payload.loopNumber = array.length;\n    msg.payload.counter = 0;\n}else{\n    msg.payload = {};\n    msg.payload.ProductType = \"ERROR\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":2654.9998779296875,"wires":[["48c4d99f.757598"]]},{"id":"48c4d99f.757598","type":"switch","z":"b5a09439.f1cdd","name":"check_error","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":675,"y":2914.9998779296875,"wires":[["a587ff80.43c868"],["e76c6269.3892d8"],["4e267f6b.6d9a1"],["a71f7660.ab6dc"]]},{"id":"b02bd85f.d792c8","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1125,"y":2754.9998779296875,"wires":[["f8a751f2.b4a408","24f8714d.e3c9be"],["7edc210a.7154d"]]},{"id":"f8a751f2.b4a408","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":1055,"y":2674.9998779296875,"wires":[["25a378a6.a11c88"]]},{"id":"25a378a6.a11c88","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1225,"y":2674.9998779296875,"wires":[["b02bd85f.d792c8"]]},{"id":"24f8714d.e3c9be","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"STANDARD SET \" + latitude + \" \" + longitude + \" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1365,"y":2734.9998779296875,"wires":[["cdfd5026.2c00c8"]]},{"id":"7edc210a.7154d","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1365,"y":2774.9998779296875,"wires":[["b325f963.9545a"]]},{"id":"b325f963.9545a","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"END","x":1535,"y":2774.9998779296875,"wires":[["6c29c621.dae5e"]]},{"id":"cdfd5026.2c00c8","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"STANDARD SET","x":1535,"y":2734.9998779296875,"wires":[["dc64eb89.02ece"]]},{"id":"e76c6269.3892d8","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":895,"y":2754.9998779296875,"wires":[["b02bd85f.d792c8"]]},{"id":"dcad3cba.a8b268","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1115,"y":2914.9998779296875,"wires":[["29966618.99d53a"]]},{"id":"29966618.99d53a","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1325,"y":2914.9998779296875,"wires":[["d7b77032.50d4c8","63c5227c.0db20c"],["a1b96d76.8d63b"]]},{"id":"a1b96d76.8d63b","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1545,"y":2934.9998779296875,"wires":[["4d99d785.3859b"]]},{"id":"63c5227c.0db20c","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"FRAGILE SET \" + latitude + \" \" + longitude + \" \"+msg.payload.vibrationDetected +\" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1545,"y":2894.9998779296875,"wires":[["548f5956.616dc"]]},{"id":"7dbe82ba.b7e224","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1425,"y":2834.9998779296875,"wires":[["29966618.99d53a"]]},{"id":"d7b77032.50d4c8","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\nmsg.payload.vibrationDetected = Math.floor((Math.random() * 5000) + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1235,"y":2834.9998779296875,"wires":[["7dbe82ba.b7e224"]]},{"id":"4e267f6b.6d9a1","type":"function","z":"b5a09439.f1cdd","name":"init_vibration","func":"msg.payload.vibrationDetected = 0;\nreturn msg;","outputs":1,"noerr":0,"x":875,"y":2914.9998779296875,"wires":[["dcad3cba.a8b268"]]},{"id":"548f5956.616dc","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"FRAGILE SET","x":1705,"y":2894.9998779296875,"wires":[["79ed6b29.b2cd94"]]},{"id":"4d99d785.3859b","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"END","x":1695,"y":2934.9998779296875,"wires":[["7d52ac95.46d954"]]},{"id":"a71f7660.ab6dc","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":875,"y":3154.9998779296875,"wires":[["1be27ed1.4c34a9"]]},{"id":"1be27ed1.4c34a9","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1085,"y":3154.9998779296875,"wires":[["e6d11340.899958","634f28b9.afcd78"],["c89b43b1.42db4"]]},{"id":"e6d11340.899958","type":"function","z":"b5a09439.f1cdd","name":"store_info","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1425,"y":3074.9998779296875,"wires":[["b5a19bdc.d3eb48"]]},{"id":"634f28b9.afcd78","type":"function","z":"b5a09439.f1cdd","name":"get_sim","func":"msg.payload = {};\nmsg.payload = \"FRIGO GETSIM \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1285,"y":3154.9998779296875,"wires":[["98a8a10.5f5206"]]},{"id":"98a8a10.5f5206","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"FRIGO GET","x":1435,"y":3154.9998779296875,"wires":[["143b387d.fcffd8"]]},{"id":"447d40d5.70154","type":"function","z":"b5a09439.f1cdd","name":"Check","func":"var info = msg.payload.message.split(\"_\"); //frigo_dehum_temp_hum\n\nmsg.payload = {};\n\nvar switchWho;\n\nif(info[0] == \"true\" && info[1] == \"true\"){\n    \n    switchWho = 1;\n    \n}else if(info[0] == \"true\" && info[1] == \"false\"){\n    \n    switchWho = 2;\n    \n}else if(info[0] == \"false\" && info[1] == \"true\"){\n    \n    switchWho = 3;\n    \n}else if(info[0] == \"false\" && info[1] == \"false\"){\n    \n    switchWho = 4;\n    \n}\n\nmsg.payload.tmp = info[2];\nmsg.payload.hum = info[3];\nmsg.payload.switchWho = switchWho;\n\nreturn msg;","outputs":1,"noerr":0,"x":1815,"y":3214.9998779296875,"wires":[["326682cb.dce1b6"]]},{"id":"326682cb.dce1b6","type":"switch","z":"b5a09439.f1cdd","name":"","property":"payload.switchWho","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1755,"y":3314.9998779296875,"wires":[["f86c1e10.c7a048"],["6ee8c9d.e976538"],["17c24bb5.4e9604"],["980ab79d.9da0c"]]},{"id":"23ac9e2.2e16b62","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1265,"y":2994.9998779296875,"wires":[["3b2a57b0.87aaa"]]},{"id":"3b2a57b0.87aaa","type":"function","z":"b5a09439.f1cdd","name":"clear_payload","func":"var waypoints = msg.payload.waypoints;\nvar loopNumber = msg.payload.loopNumber;\nvar counter = msg.payload.counter;\nvar productID = msg.payload.productID;\n\nmsg.payload = {};\nmsg.payload.waypoints = waypoints;\nmsg.payload.loopNumber = loopNumber;\nmsg.payload.counter = counter+1;\nmsg.payload.productID = productID;\nreturn msg;","outputs":1,"noerr":0,"x":1425,"y":2994.9998779296875,"wires":[["1be27ed1.4c34a9"]]},{"id":"c89b43b1.42db4","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1185,"y":3254.9998779296875,"wires":[["f5cb30cb.7d9e78"]]},{"id":"f5cb30cb.7d9e78","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"END","x":1315,"y":3254.9998779296875,"wires":[["3beb6327.e258a4"]]},{"id":"143b387d.fcffd8","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1605,"y":3194.9998779296875,"wires":[["447d40d5.70154"],[]]},{"id":"3beb6327.e258a4","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1525,"y":3274.9998779296875,"wires":[[],[]]},{"id":"dc64eb89.02ece","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1745,"y":2734.9998779296875,"wires":[[],[]]},{"id":"6c29c621.dae5e","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1745,"y":2774.9998779296875,"wires":[[],[]]},{"id":"79ed6b29.b2cd94","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1905,"y":2894.9998779296875,"wires":[[],[]]},{"id":"7d52ac95.46d954","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1905,"y":2934.9998779296875,"wires":[[],[]]},{"id":"ef0f97ad.ce7198","type":"function","z":"b5a09439.f1cdd","name":"merge_join","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\nreturn msg;","outputs":1,"noerr":0,"x":2135,"y":3174.9998779296875,"wires":[["697c4967.1f4e2","23ac9e2.2e16b62"]]},{"id":"b5a19bdc.d3eb48","type":"join","z":"b5a09439.f1cdd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2135,"y":3254.9998779296875,"wires":[["ef0f97ad.ce7198"]]},{"id":"f86c1e10.c7a048","type":"function","z":"b5a09439.f1cdd","name":"dec_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp - 1;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1945,"y":3254.9998779296875,"wires":[["b5a19bdc.d3eb48"]]},{"id":"6ee8c9d.e976538","type":"function","z":"b5a09439.f1cdd","name":"dec_tmp","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp -1;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1945,"y":3294.9998779296875,"wires":[["b5a19bdc.d3eb48"]]},{"id":"17c24bb5.4e9604","type":"function","z":"b5a09439.f1cdd","name":"dec_hum","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 3);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1945,"y":3334.9998779296875,"wires":[["b5a19bdc.d3eb48"]]},{"id":"980ab79d.9da0c","type":"function","z":"b5a09439.f1cdd","name":"inc_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 4);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1935,"y":3374.9998779296875,"wires":[["b5a19bdc.d3eb48"]]},{"id":"697c4967.1f4e2","type":"function","z":"b5a09439.f1cdd","name":"tcp_command","func":"var counter = msg.payload.counter;\nmsg.payload = \"FRIGO SETSIM \" + msg.payload.waypoints[counter].latitude + \" \" + msg.payload.waypoints[counter].longitude + \" \" + msg.payload.tmp + \" \" + msg.payload.hum +\" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":2325,"y":3154.9998779296875,"wires":[["bb2fe614.50716"]]},{"id":"bb2fe614.50716","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9093","out":"char","splitc":"\\n","name":"FRIGO SET","x":2515,"y":3174.9998779296875,"wires":[["53fe69af.927f1"]]},{"id":"53fe69af.927f1","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":2725,"y":3174.9998779296875,"wires":[[],[]]},{"id":"6c08c937.a5d038","type":"mqtt in","z":"b5a09439.f1cdd","name":"eshipping/vehicle/004/start","topic":"eshipping/vehicle/004/start","qos":"2","broker":"ad8c7fa2.7aea6","x":125,"y":3540,"wires":[["53201a13.64b874"]]},{"id":"99573ce6.edbe08","type":"function","z":"b5a09439.f1cdd","name":"check_msg","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\n\nvar array = msg.payload.waypoints;\n\nif(Array.isArray(array)){\n    msg.payload.loopNumber = array.length;\n    msg.payload.counter = 0;\n}else{\n    msg.payload = {};\n    msg.payload.ProductType = \"ERROR\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":578.3331298828125,"y":3536.66650390625,"wires":[["d834f844.7079d8"]]},{"id":"d834f844.7079d8","type":"switch","z":"b5a09439.f1cdd","name":"check_error","property":"payload.productType","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":678.3331298828125,"y":3796.66650390625,"wires":[["ed790aaa.b3cf7"],["e9b6800f.25fcb8"],["358e05b5.cebe3a"],["10053705.88bb11"]]},{"id":"b9beb968.f4452","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1128.3331298828125,"y":3636.66650390625,"wires":[["19969ee.6588861","c86728a.0e02bd8"],["a5d6ab5d.438f"]]},{"id":"19969ee.6588861","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\n\nreturn msg;","outputs":1,"noerr":0,"x":1058.3331298828125,"y":3556.66650390625,"wires":[["d9bda8b5.9aed68"]]},{"id":"d9bda8b5.9aed68","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1228.3331298828125,"y":3556.66650390625,"wires":[["b9beb968.f4452"]]},{"id":"c86728a.0e02bd8","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"STANDARD SET \" + latitude + \" \" + longitude + \" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1368.3331298828125,"y":3616.66650390625,"wires":[["87da2d65.1c767"]]},{"id":"a5d6ab5d.438f","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1368.3331298828125,"y":3656.66650390625,"wires":[["df8c6b7e.3f2b08"]]},{"id":"df8c6b7e.3f2b08","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"END","x":1538.3331298828125,"y":3656.66650390625,"wires":[["2c189e2.01205e2"]]},{"id":"87da2d65.1c767","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"STANDARD SET","x":1538.3331298828125,"y":3616.66650390625,"wires":[["ad039c52.454be8"]]},{"id":"e9b6800f.25fcb8","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":898.3331298828125,"y":3636.66650390625,"wires":[["b9beb968.f4452"]]},{"id":"155a4e39.c78362","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1118.3331298828125,"y":3796.66650390625,"wires":[["2c7f63b2.9f5b2c"]]},{"id":"2c7f63b2.9f5b2c","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1328.3331298828125,"y":3796.66650390625,"wires":[["20f264e.f4e3e9c","1ff65c79.dcde94"],["332e6bda.589e84"]]},{"id":"332e6bda.589e84","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1548.3331298828125,"y":3816.66650390625,"wires":[["7816b70.ccf9c48"]]},{"id":"1ff65c79.dcde94","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var counter = msg.payload.counter;\nvar position = msg.payload.waypoints[counter];\nvar latitude = position.latitude;\nvar longitude = position.longitude;\nvar message = \"FRAGILE SET \" + latitude + \" \" + longitude + \" \"+msg.payload.vibrationDetected +\" \\n\";\n\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1548.3331298828125,"y":3776.66650390625,"wires":[["5f4aa4ee.b85bf4"]]},{"id":"dfd1c3d3.85d118","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1428.3331298828125,"y":3716.66650390625,"wires":[["2c7f63b2.9f5b2c"]]},{"id":"20f264e.f4e3e9c","type":"function","z":"b5a09439.f1cdd","name":"increment_counter","func":"var counter = msg.payload.counter;\ncounter = counter +1;\nmsg.payload.counter = counter;\nmsg.payload.vibrationDetected = Math.floor((Math.random() * 5000) + 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1238.3331298828125,"y":3716.66650390625,"wires":[["dfd1c3d3.85d118"]]},{"id":"358e05b5.cebe3a","type":"function","z":"b5a09439.f1cdd","name":"init_vibration","func":"msg.payload.vibrationDetected = 0;\nreturn msg;","outputs":1,"noerr":0,"x":878.3331298828125,"y":3796.66650390625,"wires":[["155a4e39.c78362"]]},{"id":"5f4aa4ee.b85bf4","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"FRAGILE SET","x":1708.3331298828125,"y":3776.66650390625,"wires":[["88ad40c1.ae889"]]},{"id":"7816b70.ccf9c48","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"END","x":1698.3331298828125,"y":3816.66650390625,"wires":[["e4da6dc4.bcb5c8"]]},{"id":"10053705.88bb11","type":"delay","z":"b5a09439.f1cdd","name":"Wait Vehicle","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":878.3331298828125,"y":4036.66650390625,"wires":[["842161f7.a37d6"]]},{"id":"842161f7.a37d6","type":"switch","z":"b5a09439.f1cdd","name":"counter_check","property":"payload.counter","propertyType":"msg","rules":[{"t":"lt","v":"payload.loopNumber","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1088.3331298828125,"y":4036.66650390625,"wires":[["eb4bf291.37c35","96feb9e4.882d6"],["8ae6a360.cb533"]]},{"id":"eb4bf291.37c35","type":"function","z":"b5a09439.f1cdd","name":"store_info","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1428.3331298828125,"y":3956.66650390625,"wires":[["f6602c3a.d98b5"]]},{"id":"96feb9e4.882d6","type":"function","z":"b5a09439.f1cdd","name":"get_sim","func":"msg.payload = {};\nmsg.payload = \"FRIGO GETSIM \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":1288.3331298828125,"y":4036.66650390625,"wires":[["c96a0a58.adb64"]]},{"id":"c96a0a58.adb64","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"FRIGO GET","x":1438.3331298828125,"y":4036.66650390625,"wires":[["a955c007.520de8"]]},{"id":"21c4cdd2.879e3a","type":"function","z":"b5a09439.f1cdd","name":"Check","func":"var info = msg.payload.message.split(\"_\"); //frigo_dehum_temp_hum\n\nmsg.payload = {};\n\nvar switchWho;\n\nif(info[0] == \"true\" && info[1] == \"true\"){\n    \n    switchWho = 1;\n    \n}else if(info[0] == \"true\" && info[1] == \"false\"){\n    \n    switchWho = 2;\n    \n}else if(info[0] == \"false\" && info[1] == \"true\"){\n    \n    switchWho = 3;\n    \n}else if(info[0] == \"false\" && info[1] == \"false\"){\n    \n    switchWho = 4;\n    \n}\n\nmsg.payload.tmp = info[2];\nmsg.payload.hum = info[3];\nmsg.payload.switchWho = switchWho;\n\nreturn msg;","outputs":1,"noerr":0,"x":1818.3331298828125,"y":4096.66650390625,"wires":[["2dfd20db.44b06"]]},{"id":"2dfd20db.44b06","type":"switch","z":"b5a09439.f1cdd","name":"","property":"payload.switchWho","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":1758.3331298828125,"y":4196.66650390625,"wires":[["70fa1c2f.cfd9d4"],["60b54e2b.6378b8"],["c65550d3.e5106"],["7059ac0d.5d7a6c"]]},{"id":"73f74233.0e773c","type":"delay","z":"b5a09439.f1cdd","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1268.3331298828125,"y":3876.66650390625,"wires":[["d6c0e6d1.773a28"]]},{"id":"d6c0e6d1.773a28","type":"function","z":"b5a09439.f1cdd","name":"clear_payload","func":"var waypoints = msg.payload.waypoints;\nvar loopNumber = msg.payload.loopNumber;\nvar counter = msg.payload.counter;\nvar productID = msg.payload.productID;\n\nmsg.payload = {};\nmsg.payload.waypoints = waypoints;\nmsg.payload.loopNumber = loopNumber;\nmsg.payload.counter = counter+1;\nmsg.payload.productID = productID;\n\nreturn msg;","outputs":1,"noerr":0,"x":1428.3331298828125,"y":3876.66650390625,"wires":[["842161f7.a37d6"]]},{"id":"8ae6a360.cb533","type":"function","z":"b5a09439.f1cdd","name":"set_msg","func":"var message = \"END \" + msg.payload.productID + \" \\n\";\nmsg.payload = {};\nmsg.payload = message;\n\nreturn msg;","outputs":1,"noerr":0,"x":1188.3331298828125,"y":4136.66650390625,"wires":[["c4b8d8d7.799818"]]},{"id":"c4b8d8d7.799818","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"END","x":1318.3331298828125,"y":4136.66650390625,"wires":[["5ac4fa04.fb140c"]]},{"id":"a955c007.520de8","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1608.3331298828125,"y":4076.66650390625,"wires":[["21c4cdd2.879e3a"],[]]},{"id":"5ac4fa04.fb140c","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1528.3331298828125,"y":4156.66650390625,"wires":[[],[]]},{"id":"ad039c52.454be8","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1748.3331298828125,"y":3616.66650390625,"wires":[[],[]]},{"id":"2c189e2.01205e2","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1748.3331298828125,"y":3656.66650390625,"wires":[[],[]]},{"id":"88ad40c1.ae889","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1908.3331298828125,"y":3776.66650390625,"wires":[[],[]]},{"id":"e4da6dc4.bcb5c8","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":1908.3331298828125,"y":3816.66650390625,"wires":[[],[]]},{"id":"bd7e159c.a07118","type":"function","z":"b5a09439.f1cdd","name":"merge_join","func":"var obj1 = msg.payload[0];\nvar obj2 = msg.payload[1];\n\nmsg.payload = Object.assign(obj1,obj2);\nreturn msg;","outputs":1,"noerr":0,"x":2138.3331298828125,"y":4056.66650390625,"wires":[["3f46f3e5.daf90c","73f74233.0e773c"]]},{"id":"f6602c3a.d98b5","type":"join","z":"b5a09439.f1cdd","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2138.3331298828125,"y":4136.66650390625,"wires":[["bd7e159c.a07118"]]},{"id":"70fa1c2f.cfd9d4","type":"function","z":"b5a09439.f1cdd","name":"dec_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp - 1;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1948.3331298828125,"y":4136.66650390625,"wires":[["f6602c3a.d98b5"]]},{"id":"60b54e2b.6378b8","type":"function","z":"b5a09439.f1cdd","name":"dec_tmp","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nmsg.payload.tmp = tmp -1;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1948.3331298828125,"y":4176.66650390625,"wires":[["f6602c3a.d98b5"]]},{"id":"c65550d3.e5106","type":"function","z":"b5a09439.f1cdd","name":"dec_hum","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 3);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum - 5;\nreturn msg;","outputs":1,"noerr":0,"x":1948.3331298828125,"y":4216.66650390625,"wires":[["f6602c3a.d98b5"]]},{"id":"7059ac0d.5d7a6c","type":"function","z":"b5a09439.f1cdd","name":"inc_all","func":"var tmp = Number(msg.payload.tmp);\nvar hum = Number(msg.payload.hum);\n\nvar randomUp = Math.floor(Math.random() * 4);\n\nmsg.payload.tmp = tmp + randomUp;\nmsg.payload.hum = hum + 5;\nreturn msg;","outputs":1,"noerr":0,"x":1938.3331298828125,"y":4256.66650390625,"wires":[["f6602c3a.d98b5"]]},{"id":"3f46f3e5.daf90c","type":"function","z":"b5a09439.f1cdd","name":"tcp_command","func":"var counter = msg.payload.counter;\nmsg.payload = \"FRIGO SETSIM \" + msg.payload.waypoints[counter].latitude + \" \" + msg.payload.waypoints[counter].longitude + \" \" + msg.payload.tmp + \" \" + msg.payload.hum +\" \\n\";\nreturn msg;","outputs":1,"noerr":0,"x":2328.3331298828125,"y":4036.66650390625,"wires":[["c87b3d42.6f5398"]]},{"id":"c87b3d42.6f5398","type":"tcp request","z":"b5a09439.f1cdd","server":"localhost","port":"9094","out":"char","splitc":"\\n","name":"FRIGO SET","x":2518.3331298828125,"y":4056.66650390625,"wires":[["74979871.b418b8"]]},{"id":"74979871.b418b8","type":"subflow:e3fa016d.74e958","z":"b5a09439.f1cdd","name":"","x":2728.3331298828125,"y":4056.66650390625,"wires":[[],[]]},{"id":"415b85da.9b51ec","type":"subflow:4833abe1.d3064c","z":"b5a09439.f1cdd","name":"","x":343,"y":99.14999389648438,"wires":[["6bec69ba.80bb8"]]},{"id":"ee9bdde.f2cc0a","type":"mqtt out","z":"b5a09439.f1cdd","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"fe07be1.3b39a4","x":852.857177734375,"y":68.5714340209961,"wires":[]},{"id":"efb04dec.eddce8","type":"mqtt out","z":"b5a09439.f1cdd","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"fe07be1.3b39a4","x":862.16650390625,"y":877.33349609375,"wires":[]},{"id":"ed790aaa.b3cf7","type":"mqtt out","z":"b5a09439.f1cdd","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"fe07be1.3b39a4","x":869.9998779296875,"y":3503.3330078125,"wires":[]},{"id":"a587ff80.43c868","type":"mqtt out","z":"b5a09439.f1cdd","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"fe07be1.3b39a4","x":886.666748046875,"y":2623.3333740234375,"wires":[]},{"id":"703baa80.3d1584","type":"mqtt out","z":"b5a09439.f1cdd","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"fe07be1.3b39a4","x":844.666748046875,"y":1736,"wires":[]},{"id":"89132086.26eec","type":"subflow:4833abe1.d3064c","z":"b5a09439.f1cdd","name":"","x":343.33331298828125,"y":917.1666870117188,"wires":[["c70c3716.7b9448"]]},{"id":"58d874eb.ed28b4","type":"subflow:4833abe1.d3064c","z":"b5a09439.f1cdd","name":"","x":353.33331298828125,"y":1780.5,"wires":[["17154858.1a66a"]]},{"id":"56618e49.b53c28","type":"subflow:4833abe1.d3064c","z":"b5a09439.f1cdd","name":"","x":360,"y":2653.83349609375,"wires":[["a2938c2b.af862"]]},{"id":"53201a13.64b874","type":"subflow:4833abe1.d3064c","z":"b5a09439.f1cdd","name":"","x":363.333251953125,"y":3537.1666259765625,"wires":[["99573ce6.edbe08"]]},{"id":"ad8c7fa2.7aea6","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthRetain":"false","birthPayload":"start","willTopic":"test","willQos":"0","willRetain":"false","willPayload":""}]