node-red/single_flows/warehouse_nodes.txt
[{"id":"6d3bb349.57c804","type":"subflow","name":"Check find DB error","info":"","in":[{"x":220,"y":160,"wires":[{"id":"9fb57aef.fb13d"}]}],"out":[{"x":580,"y":260,"wires":[{"id":"8a67216c.9973d8","port":0}]},{"x":580,"y":140,"wires":[{"id":"9fb57aef.fb13d","port":0}]}]},{"id":"9fb57aef.fb13d","type":"switch","z":"6d3bb349.57c804","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"istype","v":"array","vt":"array"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":180,"wires":[["cc54491a.66326"],["8a67216c.9973d8"]]},{"id":"8a67216c.9973d8","type":"function","z":"6d3bb349.57c804","name":"get_first","func":"var array = msg.payload;\nvar jsonObject = array[0];\n\nmsg.payload = {};\nmsg.payload = jsonObject;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[[]]},{"id":"cc54491a.66326","type":"mqtt out","z":"6d3bb349.57c804","name":"eshipping/warehouse/error","topic":"eshipping/warehouse/error","qos":"2","retain":"","broker":"fe07be1.3b39a4","x":631,"y":81,"wires":[]},{"id":"fe07be1.3b39a4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"907ad863.f6ae2","type":"mqtt out","z":"b1e23b17.1f239","name":"scannerRFID/toEncrypt","topic":"eshipping/scannerRFID/toEncrypt","qos":"2","retain":"","broker":"f8674d2b.7a4378","x":873,"y":139,"wires":[]},{"id":"729f6a69.441ed4","type":"function","z":"b1e23b17.1f239","name":"set_message","func":"var object = msg.payload;\nvar id = object.id;\nvar info = object.id + \"_\" + object.description + \"_\" + object.destination + \"_\" + object.type;\nmsg.payload = id + \":\" + info;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["907ad863.f6ae2"]]},{"id":"30cd441a.8b5534","type":"json","z":"b1e23b17.1f239","name":"Convert to JS object","property":"payload","action":"obj","pretty":false,"x":440,"y":140,"wires":[["729f6a69.441ed4"]]},{"id":"a1314db0.aab88","type":"debug","z":"b1e23b17.1f239","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":312,"y":1039.28564453125,"wires":[]},{"id":"6d04d1fa.bbe478","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/+/error","topic":"eshipping/+/error","qos":"2","broker":"464faeb4.faa66","x":120,"y":1035,"wires":[["a1314db0.aab88","ffa353b.600abb"]]},{"id":"167b4ff1.2d93d","type":"comment","z":"b1e23b17.1f239","name":"Receiving Order from central system","info":"","x":180,"y":80,"wires":[]},{"id":"ad3fe553.a58a9","type":"comment","z":"b1e23b17.1f239","name":"Error management","info":"","x":130,"y":975,"wires":[]},{"id":"79253ad8.3938ac","type":"function","z":"b1e23b17.1f239","name":"find_vehicle_AVAILABLE_query","func":"msg.operation=\"find.toArray\";\nmsg.payload={\"status\" : \"AVAILABLE\"};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["52113904.094e08"]]},{"id":"d73d9171.f7c9a","type":"function","z":"b1e23b17.1f239","name":"read_answer","func":"var array = msg.payload;\n\nif(array.length === 0){\n        msg.payload = {};\n        msg.payload = \"ERROR no_vehicles_available\";\n} \n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["5e1ec627.2467c8"]]},{"id":"10cb97c0.5c4998","type":"function","z":"b1e23b17.1f239","name":"get_vehicle_ID","func":"var object = msg.payload;\nvar vehicleID = object.id;\nmsg.payload = vehicleID;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":580,"wires":[["cfb3e97e.8e3488"]]},{"id":"ebcd380c.7c903","type":"mqtt out","z":"b1e23b17.1f239","name":"scannerRFID/toDecrypt","topic":"eshipping/scannerRFID/toDecrypt","qos":"","retain":"","broker":"f8674d2b.7a4378","x":850,"y":680,"wires":[]},{"id":"fa698911.78dd38","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/scannerRFID/decrypted","topic":"eshipping/scannerRFID/decrypted","qos":"2","broker":"b3b701bd.c6768","x":820,"y":820,"wires":[["cfb3e97e.8e3488"]]},{"id":"625111b.f5fe57","type":"function","z":"b1e23b17.1f239","name":"set_message","func":"var vehicleID = msg.payload.vehicleID;\nvar productInfo = msg.payload.productInfo;\n\nmsg.payload = vehicleID + \"###\" + productInfo;\nmsg.topic = \"eshipping/vehicle/\" + vehicleID + \"/start\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":920,"wires":[["82057fc2.78f248"]]},{"id":"82057fc2.78f248","type":"mqtt out","z":"b1e23b17.1f239","name":"eshipping/vehicle/+/start","topic":"","qos":"2","retain":"","broker":"7d31fbb4.69d844","x":1750,"y":920,"wires":[]},{"id":"ee090411.f1d9b8","type":"mqtt in","z":"b1e23b17.1f239","name":"scannerRFID/encrypted","topic":"eshipping/scannerRFID/encrypted","qos":"2","broker":"abd2a9dc.090408","x":140,"y":280,"wires":[["4b015a75.1e119c","ae6d0749.f8e0b8"]]},{"id":"4b015a75.1e119c","type":"function","z":"b1e23b17.1f239","name":"update_product_query","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.operation = \"updateOne\";\nmsg.payload=[{\"id\": id},\n                {$set:{\"status\" : \"TODELIVER\"}},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["4b1eb5ee.97b374"]]},{"id":"52113904.094e08","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"","x":580,"y":480,"wires":[["d73d9171.f7c9a"]]},{"id":"4b1eb5ee.97b374","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"products","operation":"","x":610,"y":280,"wires":[[]]},{"id":"b5544313.6e561","type":"ui_button","z":"b1e23b17.1f239","name":"","group":"aea2ab51.8ac1d8","order":2,"width":0,"height":0,"passthru":false,"label":"Try delivery","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":420,"wires":[["dc6db0c4.6f84f","79253ad8.3938ac"]]},{"id":"dc6db0c4.6f84f","type":"function","z":"b1e23b17.1f239","name":"find_product_TODELIVER_query","func":"msg.operation=\"find.toArray\";\nmsg.payload={\"status\" : \"TODELIVER\"};\nmsg.projection={\"_id\": 0 , \"id\" : 1};\nreturn msg;","outputs":1,"noerr":0,"x":192,"y":512,"wires":[["af90ae79.fcbce8"]]},{"id":"b5676939.064678","type":"function","z":"b1e23b17.1f239","name":"read_answer","func":"var array = msg.payload;\n\nif(array.length === 0){\n        msg.payload = {};\n        msg.payload = \"ERROR no_products_to_deliver\";\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":680,"wires":[["5f8ae1b4.e788c"]]},{"id":"af90ae79.fcbce8","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"products","operation":"","x":260,"y":600,"wires":[["b5676939.064678"]]},{"id":"f654497d.5880e","type":"function","z":"b1e23b17.1f239","name":"update_vehicle_query","func":"var vehicleID = msg.payload.vehicleID;\nvar productInfo = msg.payload.productInfo;\nvar productArray = productInfo.split(\"_\");\nvar productID = productArray[0];\nvar productType = productArray[3];\n\nmsg.payload = {};\nmsg.operation = \"updateOne\";\nmsg.payload=[{\"id\": vehicleID},\n                {$set:{\n                    \"status\" : \"INDELIVERY\",\n                    \"productID\" : productID,\n                    \"sensorType\" : productType}\n                },\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":840,"wires":[["1b604143.67182f"]]},{"id":"68cbede3.3b3ca4","type":"function","z":"b1e23b17.1f239","name":"get_product_ID","func":"var object = msg.payload;\nvar productID = object.id;\nmsg.payload = productID;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":680,"wires":[["ebcd380c.7c903"]]},{"id":"2fc31460.ea7254","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"products","operation":"","x":1800,"y":760,"wires":[[]]},{"id":"35a16acb.271f46","type":"function","z":"b1e23b17.1f239","name":"update_product_query","func":"var productInfo = msg.payload.productInfo;\nvar productArray = productInfo.split(\"_\");\nvar productID = productArray[0];\nvar productType = productArray[3];\n\n\nmsg.payload = {};\nmsg.operation = \"updateOne\";\nmsg.payload=[{\"id\": productID},\n                {$set:{\"status\" : \"INDELIVERY\"}},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":760,"wires":[["2fc31460.ea7254"]]},{"id":"aafbd55e.f9114","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/warehouse/toDeliver","topic":"eshipping/warehouse/toDeliver","qos":"2","broker":"abd2a9dc.090408","x":170,"y":140,"wires":[["30cd441a.8b5534"]]},{"id":"1b604143.67182f","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"","x":1800,"y":840,"wires":[[]]},{"id":"e30d6bda.3398f","type":"function","z":"b1e23b17.1f239","name":"detect_info","func":"var array = msg.payload.split(\"###\");\nvar vehicleID;\nvar productInfo;\n\nif(array[0].includes(\"_\")){\n        vehicleID = array[1];\n        productInfo = array[0];\n}\nelse{\n        vehicleID = array[0];\n        productInfo = array[1];\n}\n\nmsg.payload = {};\nmsg.payload.vehicleID = vehicleID;\nmsg.payload.productInfo = productInfo;\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":840,"wires":[["35a16acb.271f46","f654497d.5880e","625111b.f5fe57","a58c1bb9.747338"]]},{"id":"5e1ec627.2467c8","type":"subflow:6d3bb349.57c804","z":"b1e23b17.1f239","name":"","x":840,"y":600,"wires":[["10cb97c0.5c4998"],["cfb3e97e.8e3488"]]},{"id":"5f8ae1b4.e788c","type":"subflow:6d3bb349.57c804","z":"b1e23b17.1f239","name":"","x":440,"y":740,"wires":[["68cbede3.3b3ca4"],["cfb3e97e.8e3488"]]},{"id":"cfb3e97e.8e3488","type":"join","z":"b1e23b17.1f239","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1110,"y":740,"wires":[["27b71518.15f252"]]},{"id":"27b71518.15f252","type":"function","z":"b1e23b17.1f239","name":"set_check","func":"var array = msg.payload\n\nmsg.payload = {};\nmsg.payload = array[0] + \"###\" +  array[1]; \n\nreturn msg;","outputs":1,"noerr":0,"x":1259,"y":705,"wires":[["986e8a36.249b28"]]},{"id":"986e8a36.249b28","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":700,"wires":[["2427a8e6.eba9c"],["e30d6bda.3398f"]]},{"id":"de22afa8.6fcc88","type":"ui_toast","z":"b1e23b17.1f239","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"WARNING","name":"","x":1772,"y":640,"wires":[[]]},{"id":"2427a8e6.eba9c","type":"function","z":"b1e23b17.1f239","name":"set_notification","func":"msg.payload = \"Delivery failed\"\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":640,"wires":[["de22afa8.6fcc88"]]},{"id":"d3a88313.0a09d8","type":"comment","z":"b1e23b17.1f239","name":"Update product status","info":"","x":140,"y":220,"wires":[]},{"id":"244f0a9e.6b8156","type":"comment","z":"b1e23b17.1f239","name":"Check product to deliver and vehicle available","info":"","x":210,"y":360,"wires":[]},{"id":"fb76420c.dbc628","type":"comment","z":"b1e23b17.1f239","name":"Delivery ending","info":"","x":118,"y":1213,"wires":[]},{"id":"9a2d404.61822c","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/vehicle/+/end","topic":"eshipping/vehicle/+/end","qos":"2","broker":"3f6522f2.12e6ce","x":141,"y":1271,"wires":[["2818e9fe.5a09d6","2b2ebe3c.42241a","3d1f5aa5.40f786"]]},{"id":"ffa353b.600abb","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"SYSTEM ERROR","name":"","x":330,"y":1103,"wires":[]},{"id":"88f57469.3ff7","type":"ui_text","z":"b1e23b17.1f239","group":"4a6d9bff.40f174","order":1,"width":"0","height":"0","name":"lat_long","label":"LATITUDE LONGITUDE","format":"{{msg.payload.latlong}}","layout":"col-center","x":1010,"y":1465,"wires":[]},{"id":"604457aa.e87988","type":"ui_gauge","z":"b1e23b17.1f239","name":"Temperature","group":"4a6d9bff.40f174","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temperature}}","min":0,"max":"15","colors":["#007be0","#03bd00","#ca3838"],"seg1":"6","seg2":"9","x":1020,"y":1585,"wires":[]},{"id":"c973f034.659788","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/warehouse/dashboard/000","topic":"eshipping/warehouse/dashboard/000","qos":"2","broker":"3f6522f2.12e6ce","x":180,"y":1505,"wires":[["daaca967.c3067"]]},{"id":"daaca967.c3067","type":"function","z":"b1e23b17.1f239","name":"check_msg","func":"var info = msg.payload.split(\" \");\n\nmsg.payload = {};\nmsg.payload.type = info[0];\nmsg.payload.data = info[1];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1505,"wires":[["d9abb884.3a9398"]]},{"id":"d9abb884.3a9398","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":600,"y":1505,"wires":[["64885785.31f19"],["ccc4daa7.000678"],["aa6433f9.28a3f8"]]},{"id":"64885785.31f19","type":"function","z":"b1e23b17.1f239","name":"set_dash_std","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1465,"wires":[["88f57469.3ff7","604457aa.e87988","b22a8f25.8c10b8","cb446bbd.fd2df8"]]},{"id":"ccc4daa7.000678","type":"function","z":"b1e23b17.1f239","name":"set_dash_frg","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar vib = data[2];\n\nmsg.payload = {};\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = vib;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1505,"wires":[["604457aa.e87988","88f57469.3ff7","6f881f5a.3b1338","b22a8f25.8c10b8","cb446bbd.fd2df8"]]},{"id":"aa6433f9.28a3f8","type":"function","z":"b1e23b17.1f239","name":"set_dash_fri","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar tmp = data[2];\nvar alarm = data[3];\nvar hum = data[4];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = tmp;\nmsg.payload.alarm = alarm;\nmsg.payload.humidity = hum;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1585,"wires":[["604457aa.e87988","88f57469.3ff7","2b77f19a.872a1e","b22a8f25.8c10b8","cb446bbd.fd2df8"]]},{"id":"2b77f19a.872a1e","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.alarm","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":1625,"wires":[["2b820f9e.050ac","ee62399d.2a9b2"]]},{"id":"8567caf2.882528","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1350,"y":1626,"wires":[]},{"id":"2b820f9e.050ac","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH TEMPERATURE for vehicle 000\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1625,"wires":[["8567caf2.882528"]]},{"id":"2818e9fe.5a09d6","type":"function","z":"b1e23b17.1f239","name":"reset_vehicles_query","func":"var data = msg.payload.split(\"_\");\nvar idVehicle = data[0];\n\nmsg.payload = {};\n\nmsg.payload=[{\"id\":idVehicle},\n                {$set:{\n                        \"status\" : \"AVAILABLE\",\n                        \"productID\" : null,\n                        \"sensorType\" : null\n                }},\n                {},\n                undefined];\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":1251,"wires":[["7f643c7.21b3dc4"]]},{"id":"2b2ebe3c.42241a","type":"function","z":"b1e23b17.1f239","name":"reset_products_query","func":"var data = msg.payload.split(\"_\");\nvar idProduct = data[1];\n\nmsg.payload = {};\n\nmsg.payload=[{\"id\":idProduct},\n                {$set:{\n                        \"status\" : \"DELIVERED\",\n                }},\n                {},\n                undefined];\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":1291,"wires":[["c606de12.792938"]]},{"id":"c606de12.792938","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"products","operation":"update","x":621,"y":1291,"wires":[[]]},{"id":"7f643c7.21b3dc4","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"update","x":635,"y":1251,"wires":[[]]},{"id":"3d1f5aa5.40f786","type":"function","z":"b1e23b17.1f239","name":"set_notification","func":"var id = msg.payload.split(\"_\");\nmsg.payload = {};\nmsg.payload = \"Product \" + id[1] + \" delivered\";\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":1211,"wires":[["90b0e142.34d158"]]},{"id":"90b0e142.34d158","type":"ui_toast","z":"b1e23b17.1f239","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"INFORMATION","name":"deliver_notify","x":591,"y":1211,"wires":[[]]},{"id":"6f881f5a.3b1338","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"gte","v":"4800","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":1545,"wires":[["6a003b7f.ecc124","ee62399d.2a9b2"]]},{"id":"6a003b7f.ecc124","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH VIBRATION for vehicle 000\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":1545,"wires":[["4ef1df47.b389b"]]},{"id":"4ef1df47.b389b","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1360,"y":1545,"wires":[]},{"id":"ccaf0039.0201c","type":"ui_text","z":"b1e23b17.1f239","group":"29fe9ebd.40ae0a","order":1,"width":"0","height":"0","name":"lat_long","label":"LATITUDE LONGITUDE","format":"{{msg.payload.latlong}}","layout":"col-center","x":1006,"y":1813,"wires":[]},{"id":"eaccf39b.8af518","type":"ui_gauge","z":"b1e23b17.1f239","name":"Temperature","group":"29fe9ebd.40ae0a","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temperature}}","min":0,"max":"15","colors":["#007be0","#03bd00","#ca3838"],"seg1":"6","seg2":"9","x":1016,"y":1933,"wires":[]},{"id":"647fbc03.c9771c","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/warehouse/dashboard/001","topic":"eshipping/warehouse/dashboard/001","qos":"2","broker":"3f6522f2.12e6ce","x":176,"y":1853,"wires":[["30633d08.45c9ea"]]},{"id":"30633d08.45c9ea","type":"function","z":"b1e23b17.1f239","name":"check_msg","func":"var info = msg.payload.split(\" \");\n\nmsg.payload = {};\nmsg.payload.type = info[0];\nmsg.payload.data = info[1];\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":1853,"wires":[["cd15c348.cbb89"]]},{"id":"cd15c348.cbb89","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":596,"y":1853,"wires":[["4317107f.54d13"],["da6685a9.ec70e8"],["55fe0ed8.fd4d5"]]},{"id":"4317107f.54d13","type":"function","z":"b1e23b17.1f239","name":"set_dash_std","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":1813,"wires":[["ccaf0039.0201c","eaccf39b.8af518","75567cd1.51fb34","3b77cb3d.c0ebd4"]]},{"id":"da6685a9.ec70e8","type":"function","z":"b1e23b17.1f239","name":"set_dash_frg","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar vib = data[2];\n\nmsg.payload = {};\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = vib;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":1853,"wires":[["eaccf39b.8af518","ccaf0039.0201c","fe4e1d30.8491e","75567cd1.51fb34","3b77cb3d.c0ebd4"]]},{"id":"55fe0ed8.fd4d5","type":"function","z":"b1e23b17.1f239","name":"set_dash_fri","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar tmp = data[2];\nvar alarm = data[3];\nvar hum = data[4];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = tmp;\nmsg.payload.alarm = alarm;\nmsg.payload.humidity = hum;\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":1933,"wires":[["eaccf39b.8af518","ccaf0039.0201c","510615b6.bbadcc","75567cd1.51fb34","3b77cb3d.c0ebd4"]]},{"id":"510615b6.bbadcc","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.alarm","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":996,"y":1973,"wires":[["bceea419.a2daa8","ae3a691b.901c08"]]},{"id":"398b8117.17c46e","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1356,"y":1973,"wires":[]},{"id":"bceea419.a2daa8","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH TEMPERATURE for vehicle 001\";\nreturn msg;","outputs":1,"noerr":0,"x":1156,"y":1973,"wires":[["398b8117.17c46e"]]},{"id":"fe4e1d30.8491e","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"gte","v":"4800","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":996,"y":1893,"wires":[["3e8e83b8.baee3c","ae3a691b.901c08"]]},{"id":"3e8e83b8.baee3c","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH VIBRATION for vehicle 001\";\nreturn msg;","outputs":1,"noerr":0,"x":1156,"y":1893,"wires":[["b241df06.75cf4"]]},{"id":"b241df06.75cf4","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1356,"y":1893,"wires":[]},{"id":"cd9620c8.98cd58","type":"ui_text","z":"b1e23b17.1f239","group":"8ae56220.e18af8","order":1,"width":"0","height":"0","name":"lat_long","label":"LATITUDE LONGITUDE","format":"{{msg.payload.latlong}}","layout":"col-center","x":1006,"y":2151,"wires":[]},{"id":"a7c68a60.ad662","type":"ui_gauge","z":"b1e23b17.1f239","name":"Temperature","group":"8ae56220.e18af8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temperature}}","min":0,"max":"15","colors":["#007be0","#03bd00","#ca3838"],"seg1":"6","seg2":"9","x":1016,"y":2271,"wires":[]},{"id":"46763820.1aedb","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/warehouse/dashboard/002","topic":"eshipping/warehouse/dashboard/002","qos":"2","broker":"3f6522f2.12e6ce","x":176,"y":2191,"wires":[["efb9e4a4.c0f528"]]},{"id":"efb9e4a4.c0f528","type":"function","z":"b1e23b17.1f239","name":"check_msg","func":"var info = msg.payload.split(\" \");\n\nmsg.payload = {};\nmsg.payload.type = info[0];\nmsg.payload.data = info[1];\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":2191,"wires":[["b7d500b8.73445"]]},{"id":"b7d500b8.73445","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":596,"y":2191,"wires":[["87b52b46.de691"],["6ba09c81.f3995c"],["6f02e53d.9b567c"]]},{"id":"87b52b46.de691","type":"function","z":"b1e23b17.1f239","name":"set_dash_std","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":2151,"wires":[["cd9620c8.98cd58","a7c68a60.ad662","3261c5d9.32f1b2","f1ac2bcc.0a368"]]},{"id":"6ba09c81.f3995c","type":"function","z":"b1e23b17.1f239","name":"set_dash_frg","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar vib = data[2];\n\nmsg.payload = {};\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = vib;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":2191,"wires":[["a7c68a60.ad662","cd9620c8.98cd58","a4bb4722.443958","3261c5d9.32f1b2","f1ac2bcc.0a368"]]},{"id":"6f02e53d.9b567c","type":"function","z":"b1e23b17.1f239","name":"set_dash_fri","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar tmp = data[2];\nvar alarm = data[3];\nvar hum = data[4];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = tmp;\nmsg.payload.alarm = alarm;\nmsg.payload.humidity = hum;\nreturn msg;","outputs":1,"noerr":0,"x":776,"y":2271,"wires":[["a7c68a60.ad662","cd9620c8.98cd58","e423dd5b.77dcb8","3261c5d9.32f1b2","f1ac2bcc.0a368"]]},{"id":"e423dd5b.77dcb8","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.alarm","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":996,"y":2311,"wires":[["1fe87d22.276b23","9690893f.3137d"]]},{"id":"a7cc8125.24d448","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1356,"y":2311,"wires":[]},{"id":"1fe87d22.276b23","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH TEMPERATURE for vehicle 002\";\nreturn msg;","outputs":1,"noerr":0,"x":1156,"y":2311,"wires":[["a7cc8125.24d448"]]},{"id":"a4bb4722.443958","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"gte","v":"4800","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":996,"y":2231,"wires":[["f3f73d43.5308c8","9690893f.3137d"]]},{"id":"f3f73d43.5308c8","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH VIBRATION for vehicle 002\";\nreturn msg;","outputs":1,"noerr":0,"x":1156,"y":2231,"wires":[["df32479b.4e378"]]},{"id":"df32479b.4e378","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1356,"y":2231,"wires":[]},{"id":"8994bbe1.8f0928","type":"ui_text","z":"b1e23b17.1f239","group":"31715cca.fc1454","order":1,"width":"0","height":"0","name":"lat_long","label":"LATITUDE LONGITUDE","format":"{{msg.payload.latlong}}","layout":"col-center","x":1004,"y":2481,"wires":[]},{"id":"e8c76286.8b7f98","type":"ui_gauge","z":"b1e23b17.1f239","name":"Temperature","group":"31715cca.fc1454","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temperature}}","min":0,"max":"15","colors":["#007be0","#03bd00","#ca3838"],"seg1":"6","seg2":"9","x":1014,"y":2601,"wires":[]},{"id":"ce677cd3.f486d","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/warehouse/dashboard/003","topic":"eshipping/warehouse/dashboard/003","qos":"2","broker":"3f6522f2.12e6ce","x":174,"y":2521,"wires":[["27abd939.87e656"]]},{"id":"27abd939.87e656","type":"function","z":"b1e23b17.1f239","name":"check_msg","func":"var info = msg.payload.split(\" \");\n\nmsg.payload = {};\nmsg.payload.type = info[0];\nmsg.payload.data = info[1];\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":2521,"wires":[["cecdd339.d0b338"]]},{"id":"cecdd339.d0b338","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":594,"y":2521,"wires":[["3283a987.a117c6"],["e7cb8315.61d3e8"],["26ead5c2.ba2452"]]},{"id":"3283a987.a117c6","type":"function","z":"b1e23b17.1f239","name":"set_dash_std","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":774,"y":2481,"wires":[["8994bbe1.8f0928","e8c76286.8b7f98","6389e8ec.c03ec","dcd04d29.8f758"]]},{"id":"e7cb8315.61d3e8","type":"function","z":"b1e23b17.1f239","name":"set_dash_frg","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar vib = data[2];\n\nmsg.payload = {};\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = vib;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\nreturn msg;","outputs":1,"noerr":0,"x":774,"y":2521,"wires":[["e8c76286.8b7f98","8994bbe1.8f0928","f077b932.fda2d","6389e8ec.c03ec","dcd04d29.8f758"]]},{"id":"26ead5c2.ba2452","type":"function","z":"b1e23b17.1f239","name":"set_dash_fri","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar tmp = data[2];\nvar alarm = data[3];\nvar hum = data[4];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = tmp;\nmsg.payload.alarm = alarm;\nmsg.payload.humidity = hum;\nreturn msg;","outputs":1,"noerr":0,"x":774,"y":2601,"wires":[["e8c76286.8b7f98","8994bbe1.8f0928","b40c694b.fe73a","6389e8ec.c03ec","dcd04d29.8f758"]]},{"id":"b40c694b.fe73a","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.alarm","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":994,"y":2641,"wires":[["85648dc0.e16128","53053d66.47b774"]]},{"id":"6df949c3.3bc0f","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1354,"y":2641,"wires":[]},{"id":"85648dc0.e16128","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH TEMPERATURE for vehicle 003\";\nreturn msg;","outputs":1,"noerr":0,"x":1154,"y":2641,"wires":[["6df949c3.3bc0f"]]},{"id":"f077b932.fda2d","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"gte","v":"4800","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":994,"y":2561,"wires":[["8becdcfa.4504d8","53053d66.47b774"]]},{"id":"8becdcfa.4504d8","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH VIBRATION for vehicle 003\";\nreturn msg;","outputs":1,"noerr":0,"x":1154,"y":2561,"wires":[["34ca6e18.4efefa"]]},{"id":"34ca6e18.4efefa","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1353,"y":2559,"wires":[]},{"id":"2c5f6404.85b7dc","type":"ui_text","z":"b1e23b17.1f239","group":"36acd71c.e39968","order":1,"width":"0","height":"0","name":"lat_long","label":"LATITUDE LONGITUDE","format":"{{msg.payload.latlong}}","layout":"col-center","x":1013,"y":2806,"wires":[]},{"id":"9c033b91.33683","type":"ui_gauge","z":"b1e23b17.1f239","name":"Temperature","group":"36acd71c.e39968","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temperature}}","min":0,"max":"15","colors":["#007be0","#03bd00","#ca3838"],"seg1":"6","seg2":"9","x":1023,"y":2926,"wires":[]},{"id":"3889ff22.69b4f","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/warehouse/dashboard/004","topic":"eshipping/warehouse/dashboard/004","qos":"2","broker":"3f6522f2.12e6ce","x":183,"y":2846,"wires":[["6b0b6179.496088"]]},{"id":"6b0b6179.496088","type":"function","z":"b1e23b17.1f239","name":"check_msg","func":"var info = msg.payload.split(\" \");\n\nmsg.payload = {};\nmsg.payload.type = info[0];\nmsg.payload.data = info[1];\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":2846,"wires":[["e2ddfc6f.5d7058"]]},{"id":"e2ddfc6f.5d7058","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"STANDARD","vt":"str"},{"t":"eq","v":"FRAGILE","vt":"str"},{"t":"eq","v":"FRIGO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":603,"y":2846,"wires":[["8affb270.441a98"],["f6e742cb.3dc7f"],["e247682e.955128"]]},{"id":"8affb270.441a98","type":"function","z":"b1e23b17.1f239","name":"set_dash_std","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":2806,"wires":[["2c5f6404.85b7dc","9c033b91.33683","36dbe9e6.e06f66","574673f8.1f8604"]]},{"id":"f6e742cb.3dc7f","type":"function","z":"b1e23b17.1f239","name":"set_dash_frg","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar vib = data[2];\n\nmsg.payload = {};\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = vib;\nmsg.payload.temperature = 0;\nmsg.payload.humidity = 0;\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":2846,"wires":[["9c033b91.33683","2c5f6404.85b7dc","310e8e61.f97742","36dbe9e6.e06f66","574673f8.1f8604"]]},{"id":"e247682e.955128","type":"function","z":"b1e23b17.1f239","name":"set_dash_fri","func":"var data = msg.payload.data.split(\"_\");\n\nvar lat = data[0];\nvar long = data[1];\nvar tmp = data[2];\nvar alarm = data[3];\nvar hum = data[4];\n\nmsg.payload.latlong = lat + \", \" + long;\nmsg.payload.vibration = 0;\nmsg.payload.temperature = tmp;\nmsg.payload.alarm = alarm;\nmsg.payload.humidity = hum;\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":2926,"wires":[["9c033b91.33683","2c5f6404.85b7dc","c9add1eb.58614","36dbe9e6.e06f66","574673f8.1f8604"]]},{"id":"c9add1eb.58614","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.alarm","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1003,"y":2966,"wires":[["1b082f7b.a4fb59","94dd40ae.5228e8"]]},{"id":"c07db4e0.88d348","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1365,"y":2966,"wires":[]},{"id":"1b082f7b.a4fb59","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH TEMPERATURE for vehicle 004\";\nreturn msg;","outputs":1,"noerr":0,"x":1163,"y":2966,"wires":[["c07db4e0.88d348"]]},{"id":"310e8e61.f97742","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"gte","v":"4800","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1003,"y":2886,"wires":[["d86f9942.d6da88","94dd40ae.5228e8"]]},{"id":"d86f9942.d6da88","type":"function","z":"b1e23b17.1f239","name":"alarm_msg","func":"msg.payload = {};\nmsg.payload = \"HIGH VIBRATION for vehicle 004\";\nreturn msg;","outputs":1,"noerr":0,"x":1163,"y":2886,"wires":[["b28e0ee9.a7c77"]]},{"id":"b28e0ee9.a7c77","type":"ui_toast","z":"b1e23b17.1f239","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALARM","name":"","x":1363,"y":2886,"wires":[]},{"id":"b22a8f25.8c10b8","type":"ui_gauge","z":"b1e23b17.1f239","name":"","group":"4a6d9bff.40f174","order":3,"width":"0","height":"0","gtype":"compass","title":"Humidity ","label":"% H2O","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#c4e600","#ffb100"],"seg1":"","seg2":"","x":1010,"y":1665,"wires":[]},{"id":"75567cd1.51fb34","type":"ui_gauge","z":"b1e23b17.1f239","name":"","group":"29fe9ebd.40ae0a","order":3,"width":0,"height":0,"gtype":"compass","title":"Humidity ","label":"% H2O","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#c4e600","#ffb100"],"seg1":"","seg2":"","x":1006,"y":2008,"wires":[]},{"id":"3261c5d9.32f1b2","type":"ui_gauge","z":"b1e23b17.1f239","name":"","group":"8ae56220.e18af8","order":3,"width":0,"height":0,"gtype":"compass","title":"Humidity ","label":"% H2O","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#c4e600","#ffb100"],"seg1":"","seg2":"","x":1006,"y":2356,"wires":[]},{"id":"6389e8ec.c03ec","type":"ui_gauge","z":"b1e23b17.1f239","name":"","group":"31715cca.fc1454","order":3,"width":0,"height":0,"gtype":"compass","title":"Humidity ","label":"% H2O","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#c4e600","#ffb100"],"seg1":"","seg2":"","x":1004,"y":2691,"wires":[]},{"id":"36dbe9e6.e06f66","type":"ui_gauge","z":"b1e23b17.1f239","name":"","group":"36acd71c.e39968","order":3,"width":0,"height":0,"gtype":"compass","title":"Humidity ","label":"% H2O","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#c4e600","#ffb100"],"seg1":"","seg2":"","x":1013,"y":3006,"wires":[]},{"id":"abe2719b.8d88","type":"ui_template","z":"b1e23b17.1f239","group":"ee9d1bc5.42b42","name":"","order":0,"width":"20","height":"14","format":"<html>\n  <head>\n    <title>Simple Map</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0\">\n    <meta charset=\"utf-8\">\n    <style>\n      /* Always set the map height explicitly to define the size of the div\n       * element that contains the map. */\n      #map {\n        height: 100%;\n      }\n      /* Optional: Makes the sample page fill the window. */\n      html, body {\n        height: 100%;\n        margin: 0;\n        padding: 0;\n      }\n    </style>\n  </head>\n  <body>\n    <div id=\"map\"></div>\n    <script>\n      var eshipping_map;\n      var warehouse_position;\n      var marker000;\n      var marker001;\n      var marker002;\n      var marker003;\n      var marker004;\n\n      function initMap() {\n\n        warehouse_position = {lat: 45.817539, lng: 8.826307};\n\n        eshipping_map = new google.maps.Map(document.getElementById('map'), {\n          center: warehouse_position, \n          zoom: 9.5\n        });\n\n        marker000 = new google.maps.Marker({\n          position: warehouse_position,\n          map: eshipping_map,\n          animation: google.maps.Animation.DROP,\n          zIndex: 5,\n          label: '000',\n          title: 'Vehicle: 000'\n        });\n\n        marker001 = new google.maps.Marker({\n          position: warehouse_position,\n          map: eshipping_map,\n          animation: google.maps.Animation.DROP,\n          zIndex: 4,\n          label: '001',\n          title: 'Vehicle: 001'\n        });\n\n        marker002 = new google.maps.Marker({\n          position: warehouse_position,\n          map: eshipping_map,\n          animation: google.maps.Animation.DROP,\n          zIndex: 3,\n          label: '002',\n          title: 'Vehicle: 002'\n        });\n\n        marker003 = new google.maps.Marker({\n          position: warehouse_position,\n          map: eshipping_map,\n          animation: google.maps.Animation.DROP,\n          zIndex: 2,\n          label: '003',\n          title: 'Vehicle: 003'\n        });\n\n        marker004 = new google.maps.Marker({\n          position: warehouse_position,\n          map: eshipping_map,\n          animation: google.maps.Animation.DROP,\n          zIndex: 1,\n          label: '004',\n          title: 'Vehicle: 004'\n        });\n\n      }\n\n      (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n          var splitted = data.split(\"_\");\n          var command = splitted[0];\n\n          switch(command){\n            case \"END\":\n              var vehicleID = splitted[1];\n              endVehicleRunning(vehicleID);\n              break;\n              \n            case \"MOVE\":\n              var vehicleID = splitted[1];\n              var latitude = parseFloat(splitted[2]);\n              var longitude = parseFloat(splitted[3]);\n              changeVehiclePosition(vehicleID,latitude,longitude);\n              break;\n          }\n        \n        });\n      })(scope);\n\n      function endVehicleRunning(vehicleID){\n        switch(vehicleID){\n          case \"000\":\n            marker000.setPosition(warehouse_position);\n            break;\n          case \"001\":\n            marker001.setPosition(warehouse_position);\n            break;\n          case \"002\":\n            marker002.setPosition(warehouse_position);\n            break;\n          case \"003\":\n            marker003.setPosition(warehouse_position);\n            break;\n          case \"004\":\n            marker004.setPosition(warehouse_position);\n            break;\n        }\n      }\n\n      function changeVehiclePosition(vehicleID, latitude, longitude){\n        var newPosition = {lat: latitude, lng: longitude};\n        switch(vehicleID){\n          case \"000\":\n            marker000.setPosition(newPosition);\n            break;\n          case \"001\":\n            marker001.setPosition(newPosition);\n            break;\n          case \"002\":\n            marker002.setPosition(newPosition);\n            break;\n          case \"003\":\n            marker003.setPosition(newPosition);\n            break;\n          case \"004\":\n            marker004.setPosition(newPosition);\n            break;\n        }\n      }\n\n    </script>\n    <script src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyDS41PRnAvPIsaf4OaKcDttKL8lbBCaIWc&callback=initMap\"\nasync defer></script>\n  </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":928,"y":1034,"wires":[[]]},{"id":"a560af8f.d10cd8","type":"mqtt in","z":"b1e23b17.1f239","name":"eshipping/warehouse/dashboard/map","topic":"eshipping/warehouse/dashboard/map","qos":"2","broker":"3f6522f2.12e6ce","x":668,"y":1033,"wires":[["abe2719b.8d88"]]},{"id":"a58c1bb9.747338","type":"function","z":"b1e23b17.1f239","name":"set_notification","func":"var vehicleID = msg.payload.vehicleID;\nvar productInfo = msg.payload.productInfo;\nvar productArray = productInfo.split(\"_\");\nvar productID = productArray[0];\nvar destination = productArray[2];\nvar productType = productArray[3];\n\nmsg.payload = {};\nmsg.payload= \"Vehicle \" + vehicleID + \" is delivering product  \" + productID + \" in \" + productType + \" mode to \" + destination;\n\nreturn msg;","outputs":1,"noerr":0,"x":1538,"y":985,"wires":[["79886509.33a264"]]},{"id":"79886509.33a264","type":"ui_toast","z":"b1e23b17.1f239","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"INFORMATION","name":"","x":1758,"y":984,"wires":[[]]},{"id":"ae6d0749.f8e0b8","type":"function","z":"b1e23b17.1f239","name":"set_notification","func":"var id = msg.payload;\nmsg.payload = {};\n\nmsg.payload= id + \" product info are written in RFID tag.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":235,"wires":[["59833dc1.7bce7c"]]},{"id":"59833dc1.7bce7c","type":"ui_toast","z":"b1e23b17.1f239","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"INFORMATION","name":"","x":612,"y":234,"wires":[[]]},{"id":"4f061af7.7285ac","type":"ui_button","z":"b1e23b17.1f239","name":"","group":"671d7250.bf45ec","order":1,"width":0,"height":0,"passthru":false,"label":"Reset DB","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":117,"y":3241,"wires":[["e49dc2bf.20e458","2ae28308.f8c8d4"]]},{"id":"8eb0de53.53f49","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"products","operation":"updateMany","x":533,"y":3201,"wires":[["9ff7f48b.fbd928"]]},{"id":"e49dc2bf.20e458","type":"function","z":"b1e23b17.1f239","name":"reset_products_query","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.payload=[{\"status\": {$ne:\"TOSELL\"}},\n                {$set:{\"status\" : \"TOSELL\"}},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":3201,"wires":[["8eb0de53.53f49"]]},{"id":"2ae28308.f8c8d4","type":"function","z":"b1e23b17.1f239","name":"reset_vehicles_query","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.payload=[{},\n                {$set:{\n                        \"status\" : \"AVAILABLE\",\n                        \"productID\" : null,\n                        \"sensorType\" : null,\n                        \"alarms\" : 0\n                }},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":3281,"wires":[["c71533c6.585ea"]]},{"id":"c71533c6.585ea","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"updateMany","x":520,"y":3280,"wires":[["9ff7f48b.fbd928"]]},{"id":"c6cc3de0.98fe18","type":"comment","z":"b1e23b17.1f239","name":"Database management & dashboard","info":"","x":197,"y":3141,"wires":[]},{"id":"c975d8de.c31bf8","type":"ui_toast","z":"b1e23b17.1f239","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"WARNING","name":"","x":1207,"y":3241,"wires":[[]]},{"id":"327b0dd2.c69fd2","type":"function","z":"b1e23b17.1f239","name":"message_restart_java","func":"msg.payload = \"It is Recommended to restart Java Application\";\nreturn msg;","outputs":1,"noerr":0,"x":997,"y":3241,"wires":[["c975d8de.c31bf8"]]},{"id":"9ff7f48b.fbd928","type":"join","z":"b1e23b17.1f239","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":817,"y":3241,"wires":[["327b0dd2.c69fd2","740ecf24.0e1788"]]},{"id":"94dd40ae.5228e8","type":"function","z":"b1e23b17.1f239","name":"inc_alarms","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.payload=[{\"id\": \"004\"},\n                {$inc:{\n                        \"alarms\" : 1\n                }},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":1547.5,"y":2923.5999755859375,"wires":[["4f1ca297.0d0404"]]},{"id":"4f1ca297.0d0404","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"update","x":1741,"y":2923,"wires":[[]]},{"id":"a3bccb9d.e94b4","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"update","x":1725,"y":2601,"wires":[[]]},{"id":"53053d66.47b774","type":"function","z":"b1e23b17.1f239","name":"inc_alarms","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.payload=[{\"id\": \"003\"},\n                {$inc:{\n                        \"alarms\" : 1\n                }},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":1533.5,"y":2601.5999755859375,"wires":[["a3bccb9d.e94b4"]]},{"id":"35710344.793f14","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"update","x":1725,"y":2265,"wires":[[]]},{"id":"9690893f.3137d","type":"function","z":"b1e23b17.1f239","name":"inc_alarms","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.payload=[{\"id\": \"002\"},\n                {$inc:{\n                        \"alarms\" : 1\n                }},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":1533.5,"y":2265.5999755859375,"wires":[["35710344.793f14"]]},{"id":"d0d67464.3e313","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"update","x":1730,"y":1931,"wires":[[]]},{"id":"ae3a691b.901c08","type":"function","z":"b1e23b17.1f239","name":"inc_alarms","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.payload=[{\"id\": \"001\"},\n                {$inc:{\n                        \"alarms\" : 1\n                }},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":1538.5,"y":1931.5999755859375,"wires":[["d0d67464.3e313"]]},{"id":"b04caea.7312dd","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"a50cdd89.fc511","name":"E-Shipping DB","collection":"vehicles","operation":"update","x":1734,"y":1586,"wires":[[]]},{"id":"ee62399d.2a9b2","type":"function","z":"b1e23b17.1f239","name":"inc_alarms","func":"var id = msg.payload;\nmsg.payload = {};\nmsg.payload=[{\"id\": \"000\"},\n                {$inc:{\n                        \"alarms\" : 1\n                }},\n                {},\n                undefined];\n\nreturn msg;","outputs":1,"noerr":0,"x":1542.5,"y":1586.5999755859375,"wires":[["b04caea.7312dd"]]},{"id":"cac4a25c.0902d8","type":"ui_chart","z":"b1e23b17.1f239","name":"","group":"4a6d9bff.40f174","order":4,"width":"5","height":"5","label":"Vibration level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1358,"y":1464.550048828125,"wires":[[],[]]},{"id":"4c893e87.acf19","type":"function","z":"b1e23b17.1f239","name":"get_vibration","func":"var vibration = msg.payload.vibration;\nmsg.payload = {};\nmsg.payload = vibration;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1161,"y":1507.5999755859375,"wires":[["cac4a25c.0902d8"]]},{"id":"ec8fdfbc.dc974","type":"ui_chart","z":"b1e23b17.1f239","name":"","group":"29fe9ebd.40ae0a","order":4,"width":"5","height":"5","label":"Vibration level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1351,"y":1811.9500732421875,"wires":[[],[]]},{"id":"ddc850d3.5de07","type":"ui_chart","z":"b1e23b17.1f239","name":"","group":"8ae56220.e18af8","order":4,"width":"5","height":"5","label":"Vibration level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1357,"y":2148.9501953125,"wires":[[],[]]},{"id":"ea407905.5ba47","type":"ui_chart","z":"b1e23b17.1f239","name":"","group":"31715cca.fc1454","order":4,"width":"5","height":"5","label":"Vibration level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1363,"y":2483.9501953125,"wires":[[],[]]},{"id":"726f2360.d47964","type":"ui_chart","z":"b1e23b17.1f239","name":"","group":"36acd71c.e39968","order":4,"width":"5","height":"5","label":"Vibration level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1366,"y":2804.9501953125,"wires":[[],[]]},{"id":"cb446bbd.fd2df8","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":1503.5999755859375,"wires":[["bbe25111.ec602"],["4c893e87.acf19"]]},{"id":"bbe25111.ec602","type":"function","z":"b1e23b17.1f239","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1166,"y":1465.5999755859375,"wires":[["cac4a25c.0902d8"]]},{"id":"4f242925.75c508","type":"function","z":"b1e23b17.1f239","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1156,"y":1812,"wires":[["ec8fdfbc.dc974"]]},{"id":"fccf1806.2c0278","type":"function","z":"b1e23b17.1f239","name":"get_vibration","func":"var vibration = msg.payload.vibration;\nmsg.payload = {};\nmsg.payload = vibration;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1155,"y":1853,"wires":[["ec8fdfbc.dc974"]]},{"id":"3b77cb3d.c0ebd4","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":996,"y":1853,"wires":[["4f242925.75c508"],["fccf1806.2c0278"]]},{"id":"2a39e420.ecc26c","type":"function","z":"b1e23b17.1f239","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":2148,"wires":[["ddc850d3.5de07"]]},{"id":"c9c064e.8845918","type":"function","z":"b1e23b17.1f239","name":"get_vibration","func":"var vibration = msg.payload.vibration;\nmsg.payload = {};\nmsg.payload = vibration;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1158,"y":2196,"wires":[["ddc850d3.5de07"]]},{"id":"f1ac2bcc.0a368","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":994,"y":2191,"wires":[["2a39e420.ecc26c"],["c9c064e.8845918"]]},{"id":"fbde3fe3.b65f7","type":"function","z":"b1e23b17.1f239","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1137,"y":2485,"wires":[["ea407905.5ba47"]]},{"id":"240bf972.770006","type":"function","z":"b1e23b17.1f239","name":"get_vibration","func":"var vibration = msg.payload.vibration;\nmsg.payload = {};\nmsg.payload = vibration;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1155,"y":2525,"wires":[["ea407905.5ba47"]]},{"id":"dcd04d29.8f758","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":996,"y":2519,"wires":[["fbde3fe3.b65f7"],["240bf972.770006"]]},{"id":"4077d90d.90377","type":"function","z":"b1e23b17.1f239","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1166,"y":2805,"wires":[["726f2360.d47964"]]},{"id":"fe6b2125.cbf5d8","type":"function","z":"b1e23b17.1f239","name":"get_vibration","func":"var vibration = msg.payload.vibration;\nmsg.payload = {};\nmsg.payload = vibration;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1165,"y":2850,"wires":[["726f2360.d47964"]]},{"id":"574673f8.1f8604","type":"switch","z":"b1e23b17.1f239","name":"","property":"payload.vibration","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1004,"y":2845,"wires":[["4077d90d.90377"],["fe6b2125.cbf5d8"]]},{"id":"f4d31752.90e1e","type":"comment","z":"b1e23b17.1f239","name":"Dashboard Vehicle 000","info":"","x":138,"y":1443.199951171875,"wires":[]},{"id":"c911b03b.77614","type":"comment","z":"b1e23b17.1f239","name":"Dashboard Vehicle 001","info":"","x":134,"y":1793.199951171875,"wires":[]},{"id":"6a0e6876.29635","type":"comment","z":"b1e23b17.1f239","name":"Dashboard Vehicle 002","info":"","x":138,"y":2141.199951171875,"wires":[]},{"id":"9f07bdb9.2c4ed","type":"comment","z":"b1e23b17.1f239","name":"Dashboard Vehicle 003","info":"","x":134,"y":2471.199951171875,"wires":[]},{"id":"165814e5.d3fb63","type":"comment","z":"b1e23b17.1f239","name":"Dashboard Vehicle 004","info":"","x":138,"y":2783.199951171875,"wires":[]},{"id":"a2895e39.db8ee8","type":"comment","z":"b1e23b17.1f239","name":"Dashboard Vehicle map","info":"","x":620,"y":977.199951171875,"wires":[]},{"id":"8f20a963.928f4","type":"ui_button","z":"b1e23b17.1f239","name":"","group":"671d7250.bf45ec","order":1,"width":0,"height":0,"passthru":false,"label":"Update Statistics","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":3640,"wires":[["23c0610c.a100d6","342be850.b359f","b5ac638c.e89878","49162f23.8e72a8","1c87c579.4768fb"]]},{"id":"b8ce58cd.3f7e9","type":"ui_chart","z":"b1e23b17.1f239","name":"alarms_history","group":"1b4b5502.6112db","order":2,"width":0,"height":0,"label":"Alarms history","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#F9C784","#FCAF58","#FF8C42","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1440,"y":3440,"wires":[[],[]]},{"id":"e7ee958f.b19f98","type":"function","z":"b1e23b17.1f239","name":"set_charts","func":"var array = msg.payload;\nvar msg = {};\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar i;\n\nfor(i=0; i<array.length; i++){\n    \n    var id = array[i].id;\n    \n    switch (id) {\n    case \"000\":\n        msg.payload = array[i].alarms;\n        msg.topic = \"V 000\";\n        break;\n    case \"001\":\n        msg1.payload = array[i].alarms;\n        msg1.topic = \"V 001\";\n        break;\n    case \"002\":\n        msg2.payload = array[i].alarms;\n        msg2.topic = \"V 002\";\n        break;\n    case \"003\":\n        msg3.payload = array[i].alarms;\n        msg3.topic = \"V 003\";\n        break;\n    case \"004\":\n        msg4.payload = array[i].alarms;\n        msg4.topic = \"V 004\";\n        break;\n   \n    }\n}\n\n\nreturn [msg,msg1,msg2,msg3,msg4];","outputs":5,"noerr":0,"x":770,"y":3440,"wires":[["b8ce58cd.3f7e9"],["b8ce58cd.3f7e9"],["b8ce58cd.3f7e9"],["b8ce58cd.3f7e9"],["b8ce58cd.3f7e9"]]},{"id":"b9f6bc01.ab3d7","type":"ui_chart","z":"b1e23b17.1f239","name":"","group":"26fa900f.d32c7","order":3,"width":0,"height":0,"label":"Status Products","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"60","useOneColor":false,"colors":["#F9C784","#FCAF58","#FF8C42","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1440,"y":3740,"wires":[[],[]]},{"id":"db9df5c7.dce988","type":"function","z":"b1e23b17.1f239","name":"set_charts","func":"\nvar m={\n    \"series\":[\"X\"],\n    \"data\":[[msg.payload.tosell,msg.payload.delivered,msg.payload.indelivery]],\n    \"labels\":[\"TOSELL\",\"DELIVERED\",\"IN DELIVERY\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":1250,"y":3740,"wires":[["b9f6bc01.ab3d7"]]},{"id":"23c0610c.a100d6","type":"function","z":"b1e23b17.1f239","name":"get_vehicles","func":"msg.payload = {};\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":3440,"wires":[["e26e1b50.0a381"]]},{"id":"e26e1b50.0a381","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"c9c7b607.add288","name":"E-Shipping DB","collection":"vehicles","operation":"find.toArray","x":580,"y":3440,"wires":[["e7ee958f.b19f98"]]},{"id":"342be850.b359f","type":"function","z":"b1e23b17.1f239","name":"get_tosell_product","func":"msg.payload = {\"status\":\"TOSELL\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":3680,"wires":[["406adc9b.b6e90c"]]},{"id":"406adc9b.b6e90c","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"c9c7b607.add288","name":"E-Shipping DB","collection":"products","operation":"count","x":620,"y":3680,"wires":[["aa09f87b.dc66b8"]]},{"id":"b5ac638c.e89878","type":"function","z":"b1e23b17.1f239","name":"get_delivered_product","func":"msg.payload = {\"status\":\"DELIVERED\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":3740,"wires":[["e35c1b67.a31af8"]]},{"id":"e35c1b67.a31af8","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"c9c7b607.add288","name":"E-Shipping DB","collection":"products","operation":"count","x":620,"y":3740,"wires":[["a1c3697c.b6d738"]]},{"id":"49162f23.8e72a8","type":"function","z":"b1e23b17.1f239","name":"get_indelivery_product","func":"msg.payload = {\"status\":\"INDELIVERY\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":3800,"wires":[["a9911333.2a9668"]]},{"id":"a9911333.2a9668","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"c9c7b607.add288","name":"E-Shipping DB","collection":"products","operation":"count","x":620,"y":3800,"wires":[["b5ec132b.557018"]]},{"id":"eeda2ad0.32e1d","type":"join","z":"b1e23b17.1f239","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":3740,"wires":[["3fcc27c8.dce288"]]},{"id":"aa09f87b.dc66b8","type":"function","z":"b1e23b17.1f239","name":"create_obj","func":"var tosell = msg.payload;\nmsg.payload = {};\nmsg.payload.tosell = tosell;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3680,"wires":[["eeda2ad0.32e1d"]]},{"id":"a1c3697c.b6d738","type":"function","z":"b1e23b17.1f239","name":"create_obj","func":"var delivered = msg.payload;\nmsg.payload = {};\nmsg.payload.delivered = delivered;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3740,"wires":[["eeda2ad0.32e1d"]]},{"id":"b5ec132b.557018","type":"function","z":"b1e23b17.1f239","name":"create_obj","func":"var indelivery = msg.payload;\nmsg.payload = {};\nmsg.payload.indelivery = indelivery;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3800,"wires":[["eeda2ad0.32e1d"]]},{"id":"3fcc27c8.dce288","type":"function","z":"b1e23b17.1f239","name":"join_obj","func":"var obj1=msg.payload[0];\nvar obj2=msg.payload[1];\nvar obj3=msg.payload[2];\n\nmsg.payload = Object.assign(obj1,obj2,obj3);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":3740,"wires":[["db9df5c7.dce988"]]},{"id":"1c87c579.4768fb","type":"function","z":"b1e23b17.1f239","name":"get_product","func":"msg.payload = {$or:[\n    {\"status\":\"DELIVERED\"},\n    {\"status\":\"INDELIVERY\"}\n    ]};\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":3580,"wires":[["7995ac1f.792934"]]},{"id":"7995ac1f.792934","type":"mongodb3 in","z":"b1e23b17.1f239","service":"_ext_","configNode":"c9c7b607.add288","name":"E-Shipping DB","collection":"products","operation":"find.toArray","x":580,"y":3580,"wires":[["1e1a8848.23524"]]},{"id":"1e1a8848.23524","type":"function","z":"b1e23b17.1f239","name":"set_charts","func":"var res = msg.payload;\n\nvar msg = {};\nvar msg1 = {};\nvar msg2 = {};\nmsg.payload = 0;\nmsg.topic = \"STANDARD\";\nmsg1.payload = 0;\nmsg1.topic = \"FRAGILE\";\nmsg2.payload = 0;\nmsg2.topic = \"FRIGO\";\n\nvar i;\n\nfor(i=0;i<res.length;i++){\n    type = res[i].type;\n    \n    switch(type){\n        case \"STANDARD\":\n            msg.payload++;\n            break;\n        case \"FRAGILE\":\n            msg1.payload++;\n            break;\n        case \"FRIGO\":\n            msg2.payload++;\n            break;\n    }\n}\n\n\nreturn [msg,msg1,msg2];","outputs":3,"noerr":0,"x":770,"y":3580,"wires":[["7489d7ce.e8f8f8"],["7489d7ce.e8f8f8"],["7489d7ce.e8f8f8"]]},{"id":"7489d7ce.e8f8f8","type":"ui_chart","z":"b1e23b17.1f239","name":"","group":"f5a2fd97.e73108","order":1,"width":0,"height":0,"label":"Type Delivered or IN Delivery","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#F9C784","#FCAF58","#FF8C42","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1480,"y":3580,"wires":[[],[]]},{"id":"740ecf24.0e1788","type":"function","z":"b1e23b17.1f239","name":"reset_statistics_charts","func":"msg.payload = {};\nmsg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":3380,"wires":[["b8ce58cd.3f7e9","b9f6bc01.ab3d7","7489d7ce.e8f8f8"]]},{"id":"f8674d2b.7a4378","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"464faeb4.faa66","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"b3b701bd.c6768","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"7d31fbb4.69d844","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthRetain":"false","birthPayload":"start","willTopic":"test","willQos":"0","willRetain":"false","willPayload":""},{"id":"abd2a9dc.090408","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"a50cdd89.fc511","type":"mongodb3","z":"","uri":"mongodb://localhost/eshipping","name":"MongoLocal","options":"","parallelism":"-1"},{"id":"aea2ab51.8ac1d8","type":"ui_group","z":"","name":"Commands","tab":"57f4e0a4.0bb14","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f6522f2.12e6ce","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"test","birthQos":"0","birthPayload":"start","willTopic":"test","willQos":"0","willPayload":""},{"id":"4a6d9bff.40f174","type":"ui_group","z":"","name":"Vehicle 000","tab":"9a3c0efd.52ca08","order":1,"disp":true,"width":"5","collapse":true},{"id":"29fe9ebd.40ae0a","type":"ui_group","z":"","name":"Vehicle 001","tab":"9a3c0efd.52ca08","order":2,"disp":true,"width":"5","collapse":true},{"id":"8ae56220.e18af8","type":"ui_group","z":"","name":"Vehicle 002","tab":"9a3c0efd.52ca08","order":3,"disp":true,"width":"5","collapse":true},{"id":"31715cca.fc1454","type":"ui_group","z":"","name":"Vehicle 003","tab":"9a3c0efd.52ca08","order":4,"disp":true,"width":"5","collapse":true},{"id":"36acd71c.e39968","type":"ui_group","z":"","name":"Vehicle 004","tab":"9a3c0efd.52ca08","order":5,"disp":true,"width":"5","collapse":true},{"id":"ee9d1bc5.42b42","type":"ui_group","z":"","name":"Vehicles position","tab":"57f4e0a4.0bb14","order":2,"disp":true,"width":"20","collapse":false},{"id":"671d7250.bf45ec","type":"ui_group","z":"","name":"Commands","tab":"c69f70a2.9e9248","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b4b5502.6112db","type":"ui_group","z":"","name":"Alarms","tab":"c69f70a2.9e9248","order":3,"disp":true,"width":"6","collapse":false},{"id":"26fa900f.d32c7","type":"ui_group","z":"","name":"Products","tab":"c69f70a2.9e9248","order":2,"disp":true,"width":"6","collapse":false},{"id":"c9c7b607.add288","type":"mongodb3","z":"","uri":"mongodb://localhost/eshipping","name":"MongoLocal","options":"","parallelism":"-1"},{"id":"f5a2fd97.e73108","type":"ui_group","z":"","name":"Delivery Types","tab":"c69f70a2.9e9248","order":4,"disp":true,"width":"6","collapse":false},{"id":"57f4e0a4.0bb14","type":"ui_tab","z":"","name":"HOME","icon":"dashboard","order":1},{"id":"9a3c0efd.52ca08","type":"ui_tab","z":"","name":"VEHICLES","icon":"dashboard","order":2},{"id":"c69f70a2.9e9248","type":"ui_tab","z":"","name":"DATABASE","icon":"dashboard","order":2}] 